@import "../../../scss/Variable.scss";

.hoq_shippingPolicy {
  width: 100%;
  height: auto;
  font-family: $fontDmSans;
  padding-top: 25px;
  .ship {
    width: 50%;
    margin: 0 auto;
    .hoq_title_name{
      padding: 22px 0;
    }
    .para-hoq_i {
      margin-left: 3rem;
      font-weight: 500;
      padding: 8px 0;
    }
    .hoq_ul_s {
      li {
        font-size: 17px;
        letter-spacing: 0.4px;
        padding: 10px 0;
      }
    }
    h3 {
      font-size: 17px;
      margin-left: 5px;
      padding: 10px 0;
      font-weight: 600;
    }
    .hoq_ul_s2 {
      li {
        font-size: 17px;
        padding: 1px 0;
      }
    }
  }
  .back-to-home{
    width: 100%;
    margin-top: 2rem;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    a{
      padding: 8px 12px;
      text-decoration: none;
      background-color: #c20000;
      color: white;
      outline: none;
      border: none;
      border-radius: 3px;
    }
  }
  @media (max-width: 1419px){
    .ship{
      width: 70%;
    }
  }
  @media (max-width: 1100px){
    .ship{
      width: 80%;
    }
  }
  @media (max-width: 920px){
    .ship{
      width: 90%;
    }
  }
  @media (max-width: 680px){
    .ship{
      width:95%;
    }
  }
}
