// Font face
@font-face {
  font-family: "Rowan1";
  src: url("../fonts/Rowan1.otf");
}

@font-face {
  font-family: "Rowan5";
  src: url("../fonts/Rowan5.otf");
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay.ttf");
}

@font-face {
  font-family: "CrimsonText";
  src: url("../fonts/CrimsonText-Regular.ttf");
}

@font-face {
  font-family: "Red Hat Text";
  src: url("../fonts/RedHatText.ttf");
}

@font-face {
  font-family: "Baskerville";
  src: url("../fonts/LibreBaskerville-Regular.ttf");
}

@keyframes scaleUpDown {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}


// Background colors
$backgroundColor: var(--background-color);
$btn1bgColor: #fff;
$btn1ActivebgColor: #7d7f85;
$stambackcolor: #fff2e6;
$stamMainBackColor: #fbf8f3;

// Font colors
$primaryfontcolor: #8f8c8be6;
$primaryfontcolor2: #7d7f85;
$homePageFontColor: #7d7f85;
// $titleColor: #7d7f85;
$titleColor: #000000;
$btn1FontColor: #7d7f85;
$btn1hoverColor: #7d7f85;
$btn1hoverFontColor: #fff;
$primaryfontcolorLight: #7d7f856e;

// Font family
// $homePageFontFamily: "Rowan5";
// $primaryFontFamily: "Rowan5";
// $primaryFontFamilyMedium: "Rowan5";
// $rown: "Rowan1";
$homePageFontFamily: "Baskerville";
$primaryFontFamily: "Baskerville";
$primaryFontFamilyMedium: "Baskerville";
$rown: "Playfair Display";

$themeColor :'#F6C2B5';

// Font size
$fontSize0: 9px;
$fontSize1: 12px;
$fontSize2: 14px;
$fontSize3: 16px;
$fontSize4: 18px;
$fontSize5: 22px;
$fontSize6: 26px;
$fontSize7: 28px;
$fontSize8: 35px;
$fontSize9: 40px;
$fontSize10: 64px;

// Border color
$primaryBorderColor: #e1e1e1;
$primaryBorderColor2: #D2CBC3;

// Authbuttons
$authButtonsBgColor: #fff;
$authButtonsBgColorHover: #EAEAEA;

$malaMainBackColor: #e3e3e326;
// $malaMainBackColor: #fbf8f3;  // privaa

$backgroundColor: #808992;
$hoverbackgroundColor: #90969f;
// privaa
// $backgroundColor: #D2CBC3; // light brown
// $hoverbackgroundColor: #D3CCC4; // light brown

$menuBgColor: #90969f;
// $menuBgColor: #D3CCC4;  // light brown
// $menuBgColor: #F4FCFF; // light blue

// Account background color
$accountBgColor: #e9e9e9;

// Home page Top section Text Color
$homePageTopTextColor: #EAEAEA;
// $homePageTopTextColor: #6a6969;  // gray (privaa)

$menuTextColor: #fff; // privaa 
// $menuTextColor: #EAEAEA; 
// $menuTextColor: #6a6969; // gray (privaa)
$hoverTextColor: #fff;
// $hoverTextColor: #6a6969; // gray (privaa)

// Product Listing page background color
$productListingBgColor: #808992;
// $productListingBgColor: #D2CBC3; // light brown

// Default address selected color
$defaultAddrSelectedColor: blue;