// contact page

// .elvee_container {
// }

// .elvee_contact-img {
//   width: 100%;
// }

// .elvee_heading-main {
//   font-size: 1.5rem;
//   font-weight: bold;
//   text-align: center;
//   margin-bottom: 2rem;
//   margin-top: 3rem;
// }

// .elvee_grid-container {
//   display: grid;
//   gap: 2rem;
//   margin-bottom: 3rem;
//   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
//   @media (min-width: 768px) {
//     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
//   }
// }

// .elvee_grid-item {
//   width: 80%;
//   margin: 0 auto;
//   display: flex;
//   align-items: center;
//   justify-content: start;
//   flex-direction: column;
//   h2 {
//     font-size: 1.25rem;
//     font-weight: 600;
//     margin-bottom: 0.5rem;
//   }
// }

// .elvee_contact-form {
//   margin-bottom: 3rem;
//   width: 60%;
//   margin: 0 auto;
//   @media screen and (max-width: 864px) {
//     width: 92%;
//     margin: 0 auto;
//   }
//   @media screen and (max-width: 500px) {
//     width: 98%;
//     margin: 0 auto;
//   }
//   h2 {
//     font-size: 1.5rem;
//     font-weight: 500;
//     text-align: center;
//     margin-bottom: 2rem;
//   }

//   p {
//     text-align: center;
//     margin-bottom: 1.5rem;
//   }

//   form {
//     display: grid;
//     gap: 1.4rem;
//     grid-template-columns: repeat(auto-fit, minmax(2, 1fr));
//     @media screen and (max-width: 520px) {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//     }

//     .elvee_input {
//       border-bottom: 1px solid #ddd;
//       border-left: none;
//       border-top: none;
//       border-right: none;
//       padding: 0.5rem;
//       outline: none;
//       width: 85%;
//       @media screen and (max-width: 768px) {
//         width:95%;
//       }
//       @media screen and (max-width: 1000px) {
//         width:82%;
//       }
//       @media screen and (max-width: 1420px) {
//         width:87%;
//       }
//     }

//     .elvee_textarea {
//       height: 8rem;
//       grid-column: span 1;
//       border: 1px solid #ddd;
//       outline: none;
//     }

//     .elvee_button {
//       grid-column: span 2;
//       background-color: #00185a;
//       color: white;
//       padding: 0.5rem 1rem;
//       border: none;
//       cursor: pointer;
//       margin-bottom: 2rem;
//     }
//   }
// }

// .elvee_newsletter {
//   display: grid;
//   gap: 2rem;

//   @media (min-width: 768px) {
//     grid-template-columns: repeat(4, 1fr);
//   }

//   .elvee_newsletter-item {
//     h3 {
//       font-size: 1.125rem;
//       font-weight: 600;
//       margin-bottom: 0.5rem;
//     }

//     .elvee_form {
//       display: flex;

//       .elvee_input {
//         border: 1px solid #ddd;
//         padding: 0.5rem;
//         flex-grow: 1;
//       }

//       .elvee_button {
//         background-color: #2563eb;
//         color: white;
//         padding: 0.5rem 1rem;
//         border: none;
//         cursor: pointer;
//       }
//     }

//     ul {
//       list-style-type: none;
//       padding: 0;

//       li {
//         margin-bottom: 0.5rem;
//       }
//     }
//   }
// }

// .elvee_office-details {
//   h4 {
//     font-weight: 600;
//     margin-top: 1rem;
//   }
// }

// career page

// .elev_career_page {
//   width: 100%;
//   height: 100%;
//   position: relative;

//   .elvee_banner_i {
//     width: 100%;
//     img {
//       width: 100%;
//       height: 100%;
//       object-fit: cover;
//     }
//     @media screen and (max-width: 1300px) {
//       width: 100%;
//       height: auto;
//       img {
//         object-fit: contain;
//       }
//     }
//   }
//   .elev_career_content {
//     width: 50%;
//     margin: 0 auto;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-direction: column;
//     text-align: center;
//     padding-top: 15px;
//     @media screen and (max-width: 1300px) {
//       width: 80%;
//     }
//     @media screen and (max-width: 864px) {
//       width: 97%;
//     }
//     h1 {
//       font-size: 24px;
//       text-transform: uppercase;
//     }
//     p {
//       font-size: 17px;
//       text-transform: uppercase;
//       font-weight: 400;
//     }
//     .about-section {
//       p {
//         font-size: 15px;
//         text-transform: lowercase;
//         font-weight: 400;
//       }
//     }
//   }
//   .elvee_join_team_section {
//     display: flex;
//     justify-content: center;
//     padding: 0 13rem;
//     margin-top: 2rem;
//     margin-bottom: 2rem;
//     @media screen and (max-width: 1400px) {
//       padding: 0 2rem;
//       .join-team-content {
//         h2 {
//           font-weight: 700;
//           font-size: 20px;
//         }
//         p {
//           text-transform: capitalize;
//           font-size: 13px !important;
//           font-weight: 400;
//         }
//       }
//     }
//     @media screen and (max-width: 1010px) {
//       padding: 0 0rem;
//       flex-direction: column;
//       .join-team-content {
//         padding: 0 2px !important;
//         text-align: center;
//         h2 {
//           font-weight: 700;
//           font-size: 19px;
//           margin-top: 25px;
//         }
//         p {
//           text-transform: capitalize;
//           font-size: 14.5px !important;
//           font-weight: 400;
//         }
//       }
//     }
//     img {
//       flex: 1;
//       width: 100%;
//       height: 100%;
//       object-fit: cover;
//     }
//     .join-team-content {
//       flex: 1;
//       padding: 0 35px;
//       h2 {
//         font-weight: 700;
//         font-size: 20px;
//       }
//       p {
//         text-transform: capitalize;
//         font-size: 17px;
//         font-weight: 400;
//       }
//     }
//   }
//   .bar_elvee_sec {
//     @media screen and (max-width: 864px) {
//       width: 92%;
//     }
//     text-align: center;
//     width: 50%;
//     margin: 0 auto;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-direction: column;
//     margin-bottom: 1rem;
//     p {
//       font-weight: 400;
//       font-size: 16px;
//     }
//     .elvee_cta_button {
//       padding: 1px 25px;
//       display: flex;
//       font-size: 14px;
//       align-items: center;
//       justify-content: center;
//       text-align: center;
//       gap: 1rem;
//       border: 1px solid rgb(1, 1, 15);
//       background-color: transparent;
//       @media screen and (max-width: 864px) {
//         width: 92%;
//       }
//     }
//   }
//   .form_det_grid {
//     margin-bottom: 3rem;
//     width: 60%;
//     margin: 0 auto;
//     @media screen and (max-width: 864px) {
//       width: 92%;
//       margin: 0 auto;
//     }
//     @media screen and (max-width: 500px) {
//       width: 98%;
//       margin: 0 auto;
//     }
//     form {
//       display: grid;
//       gap: 1.4rem;
//       margin-bottom: 2rem;
//       margin-top: 5rem;
//     transition: 0.3s ease-in;
//       grid-template-columns: repeat(auto-fit, minmax(2, 1fr));
//       @media screen and (max-width: 520px) {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//       }

//       .elvee_input {
//         border-bottom: 1px solid #ddd;
//         border-left: none;
//         border-top: none;
//         border-right: none;
//         padding: 0.5rem;
//         outline: none;
//         width: 85%;
//         @media screen and (max-width: 768px) {
//           width: 95%;
//         }
//         @media screen and (max-width: 1000px) {
//           width: 82%;
//         }
//         @media screen and (max-width: 1420px) {
//           width: 87%;
//         }
//       }

//       .elvee_textarea {
//         height: 8rem;
//         grid-column: span 1;
//         border: 1px solid #ddd;
//         outline: none;
//       }

//       .elvee_button {
//         grid-column: span 2;
//         background-color: #00185a;
//         color: white;
//         padding: 0.5rem 1rem;
//         border: none;
//         cursor: pointer;
//         margin-bottom: 2rem;
//       }
//       .input_box_elvee {
//         display: flex;
//         align-items: center;
//         border-bottom: 1px solid #ddd;
//         width: 85%;
//         @media screen and (max-width: 768px) {
//           width: 95%;
//         }
//         @media screen and (max-width: 1000px) {
//           width: 82%;
//         }
//         @media screen and (max-width: 1420px) {
//           width: 87%;
//         }
//         @media screen and (max-width: 706px) {
//           justify-content: space-between;
//         }
//         input {
//           border: none;
//           outline: none;
//           background: transparent;
//           padding: 0 8px;
//           @media screen and (max-width: 800px) {
//             padding: 0 8px;
//             width: 50%;
//           }
//         }
//         label {
//           width: 100%;
//           height: 100%;
//           background-color: #00185a;
//           color: white;
//           display: flex;
//           align-items: center;
//           justify-content: center;
//           font-size: 18px;
//           font-weight: 400 !important;
//           flex: 1;
//           @media screen and (max-width: 800px) {
//             justify-content: space-between;
//             font-size: 14px;
//             display: flex;
//             align-items: center;
//             justify-content: center;
//           }
//         }
//       }
//     }
//   }
// }

.eleev_appointment_page {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  .elvee_banner_app {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 7rem;
    @media screen and (max-width: 968px) {
      padding: 0 1rem;
      flex-direction: column-reverse;
      text-align: center;
      .content {
        flex: 1;
        p {
          font-size: 14.5px;
        }
      }
    }
    .content {
      flex: 1;
      padding: 2rem 0;
      @media screen and (max-width: 1200px) {
        font-size: 15px;
      }
    }
    .image {
      flex: 1;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .grid_col_2_elvee {
    width: 100%;
    height: 100%;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    .grid_content_banner {
      width: 40%;
      margin: 0 auto;
      @media screen and (max-width: 1520px) {
        width: 85%;
      }
      @media screen and (max-width: 1300px) {
        width: 80%;
      }
      @media screen and (max-width: 928px) {
        width: 70%;
      }
      @media screen and (max-width: 768px) {
        width: 80%;
      }
      @media screen and (max-width: 520px) {
        width: 95%;
      }
      h1 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 18px;
      }
      p {
        font-size: 14px;
        color: gray;
        font-weight: 400;
      }
    }
    .grid_layout_card {
      width: 55%;
      margin: 0 auto;
      padding: 1rem 0;
      @media screen and (max-width: 768px) {
        width: 80%;
      }
      @media screen and (max-width: 520px) {
        width: 95%;
      }
      @media screen and (max-width: 1520px) {
        width: 85%;
      }
      @media screen and (max-width: 1300px) {
        width: 80%;
      }
      @media screen and (max-width: 1038px) {
        width: 94%;
      }
      .service_bar {
        display: flex;
        width: 100%;
        span {
          text-decoration: underline;
          font-weight: 600;
          color: rgb(1, 1, 46);
        }
      }
      .layout_elvee_grid {
        display: grid;
        margin-top: 2rem;
        gap: 3rem;
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
        @media screen and (max-width: 768px) {
          grid-template-columns: repeat(auto-fit, minmax(80%, 1fr));
        }
        .elvee_card_app {
          border: 1px solid rgb(0, 0, 34);
          display: flex;
          align-items: center;
          justify-content: space-between;
          .det_elvee_card {
            flex: 1;
            text-align: center;
            font-weight: 500;
          }
        }
      }
      .from_elvee_appointmnet {
        margin-top: 2rem;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 2rem;
        .time_grid_elvee {
          width: 100%;
          gap: 3rem;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
          place-items: start;
          place-content: start;
          @media screen and (max-width: 548px) {
            grid-template-columns: repeat(auto-fit, minmax(85%, 1fr));
          }
          label {
            width: 100%;
            padding: 2px 0;
            border-bottom: 1px solid rgb(0, 0, 19);
            display: flex;
            align-items: center;
            justify-content: space-between;
            input {
              border: none;
              outline: none;
              background: transparent;
              width: 100%;
            }
          }
        }
        .form_grid_elvee {
          width: 100%;
          gap: 3rem;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
          place-items: start;
          place-content: start;
          @media screen and (max-width: 548px) {
            
            display: flex;
            flex-direction: column;
          }
          input {
            width: 100%;
            border: none;
            border-bottom: 1px solid rgb(0, 0, 12) !important;
            outline: none;
          }
          .btn_el_vee {
            grid-column: span 2;
            padding: 10px 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            button{
              box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
              border: none;
              background-color: #fff;
              outline: none;
              font-size: 16px;
              padding: 8px 16px;
              border-radius: 8px;
              font-weight: 600;
              color: rgb(2, 2, 97);
            }
          }
        }
      }
    }
  }
}
