.dt_scroll_to_top {
  position: fixed;
  bottom: 85px;
  right: 28px;
  z-index: 1000;
}

.dt_scroll_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #333;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease-in-out;

  &:hover {
    background-color: #555;
  }
}