/*@import "../../scss/variable.scss";

.stam_contactMain_about {
  width: 100%;
  height: 100%;
  // background-color: #17372f;
  font-family: $primaryFontFamily;
  @media screen and (max-width: 1200px) {
    // margin-top: 80px;
  }
  .content_stam {
    .title {
      width: 100%;
      padding: 1.2rem 0;
      text-transform: uppercase;
      h2 {
        font-size: 38px;
        // font-size: 62px;
        font-weight: 800;
        color: #fdbf85;
        text-decoration: underline;
        text-align: center;
        margin-bottom: 2rem;
        font-family: $primaryFontFamily;
        @media screen and (max-width: 504px) {
          font-size: 42px;
          margin-top: 2rem;
        }
      }
    }
    .image_banner {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .stam_sp-service-policy {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
    padding: 3rem 50px;
    color: black;
    // color: white;
    @media screen and (max-width: 768px) {
      padding: 2rem 33px;
    }
    @media screen and (max-width: 560px) {
      padding: 2rem 20px;
    }
  }
  .stam_sp-service-policy__subtitle {
    padding: 0.5rem 0;
  }
  .stam_sp-about-us {
    min-height: 100vh;

    // color: white;
    color: black;

    .stam_sp-hero {
      position: relative;
      height: 100%;
      width: 100%;
      @media screen and (max-width:768px) {
        height: 300px;
      }
      &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }

      &__title {
        // color: white;
        color: black;
        font-size: 2.5rem; // Adjust font size for smaller screens
        margin-bottom: 1rem;

        @media (min-width: 768px) {
          font-size: 4rem; // Larger font size for medium and up
        }
        @media (max-width: 768px) {
            font-size: 2rem; // Larger font size for medium and up
          }
      }

      &__button {
        background-color: white;
        border-radius: 9999px; // Fully rounded
        padding: 1rem;
        border: none;
        cursor: pointer;

        &:hover {
          background-color: #f0f0f0; // Slight hover effect
        }
      }

      &__icon {
        width: 1.5rem; // 6
        height: 1.5rem; // 6
        color: #1f2937; // Gray-900
        
      }
    }

    .stam_sp-dna {
      margin: 4rem auto;
      &__title {
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: #fdbf85;
        margin-bottom: 1rem;
      }

      &__description {
        font-size: 1.25rem; // Adjust for text-xl
        line-height: 1.6;
      }
    }

    .stam_sp-values {
      margin: 4rem auto; // Centered with margin
      &__title {
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: #fdbf85;
        margin-bottom: 1rem;
      }

      &__description {
        font-size: 1.25rem; // Adjust for text-xl
        line-height: 1.6;
        margin-bottom: 3rem; // Margin for spacing
      }

      &__list {
        margin-top: 2rem;
      }

      .stam_sp-value {
        border-top: 1px solid #e5e7eb; // Gray-200
        padding-top: 1.5rem;

        &__title {
          font-size: 1.5rem; // Title size
          margin-bottom: 0.5rem;
          color: #fdbf85;
        }

        &__description {
          font-style: italic;
        }
      }
    }
  }
}

*/




// @import "../../scss/variable.scss";
// .stam_contactMain {
//   width: 100%;
//   height: 100%;
//   .stam_about_l {
//     width: 100%;
//     .bgimage_banner_stam {
//       width: 100%;
//       height: 70vh;
//       @media screen and (max-width: 1382px) {
//         height: 60vh;
//       }
//       @media screen and (max-width: 768px) {
//         height: 40vh;
//       }
//       img {
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//       }
//     }
//     .bgimage_banner_stam_last {
//       width: 100%;
//       margin-top: 2rem;
//       img {
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//       }
//     }
//     .desc_stam_ford_p {
//       width: 100%;
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       text-align: center;
//       padding: 25px 0;
//       p {
//         width: 50%;
//         margin: 0;
//         @media screen and (max-width: 1382px) {
//           width: 80%;
//         }
//         @media screen and (max-width: 768px) {
//           width: 95%;
//         }
//       }
//     }
//     .grid_layout_stam_about {
//       margin-top: 3rem;
//       width: 83%;
//       height: 100%;
//       margin: 0 auto;
//       display: grid;
//       grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
//       gap: 10px;
//       background-color: #ede6e4;
//       @media screen and (max-width: 1382px) {
//         width: 86%;
//       }
//       @media screen and (max-width: 992px) {
//         width: 94%;
//       }
//       @media screen and (max-width: 768px) {
//         width: 96%;
//       }
//       .stam_grid_card {
//         display: flex;
//         align-items: center;
//         justify-content: center;

//         &:nth-child(even) {
//           flex-direction: row-reverse;
//           @media screen and (max-width: 768px) {
//             flex-direction: column;
//           }
//           .right_det_stam{
//             padding-left: 45px;
//           }
//         }
//         &:nth-child(odd) {
//           .right_det_stam {
//             padding-left: 45px;
//             @media screen and (max-width: 768px) {
//               padding-left: 0px;
//             }
//           }

//           @media screen and (max-width: 768px) {
//             flex-direction: column;
//           }
//         }
//         .left_stam_banner {
//           flex: 1;
//           width: 100%;
//           height: 100%;
//           img {
//             width: 100%;
//             height: 100%;
//             object-fit: cover;
//           }
//         }
//         .right_det_stam {
//           flex: 1;
//           width: 100%;
//           height: 100%;
//           display: flex;
//           align-items: start;
//           justify-content: center;
//           flex-direction: column;

//           h1 {
//             font-size: 32px;
//             line-height: 42px;
//             @media screen and (max-width: 1382px) {
//               font-size: 26px;
//             }
//           }
//           p {
//             font-size: 17px;
//             line-height: 26px;
//             width: 70%;
//             @media screen and (max-width: 1382px) {
//               width: 86%;
//               font-size: 16px;
//             }
//             @media screen and (max-width: 992px) {
//               width: 94%;
//               font-size: 15px;
//             }
//           }
//         }
//       }
//     }
//     .card_list_stamford {
//       width: 80%;
//       height: 100%;
//       margin: 0 auto;
//       display: grid;
//       grid-template-columns: repeat(auto-fill, minmax(22%, 1fr));
//       gap: 2rem;
//       padding: 7rem 0;
//       @media screen and (max-width: 1657px) {
//         width: 90%;
//       }
//       @media screen and (max-width: 1200px) {
//         width: 80%;
//         grid-template-columns: repeat(auto-fill, minmax(35%, 1fr));
//         gap: 2rem;
//         padding: 5rem 0;
//       }
//       @media screen and (max-width: 720px) {
//         width: 89%;
//         padding: 3rem 0;
//         grid-template-columns: repeat(auto-fill, minmax(80%, 1fr));
//         gap: 2rem;
//       }
//       .stam_card {
//         width: auto;
//         background-color: #eee3c5;
//         border-radius: 5px;
//         border: 2px solid #ede6e4;
//         padding: 18px 25px;
//         @media screen and (max-width: 1261px) {
//           padding: 14px 20px;
//         }
//         .details_Stame {
//           width: 100%;
//           height: 100%;
//           display: flex;
//           flex-direction: column;
//           ul {
//             display: flex;
//             flex-direction: column;
//             margin: 0;
//             padding: 0;
//           }
//         }
//       }
//     }
//   }
// }


@import "./../../scss/variable.scss";

.satm_about_mainDiv {
  .Head_about_page_smr {
    font-family: $homePageFontFamily;
  }

  .smiling-About-container {
    height: auto;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    position: fixed;
  }

  .smr_daimondsEveryAbout_sub {
    margin-inline: 16%;
    padding-top: 50px;
  }

  .stam_aboutus_div {
    display: flex;
    flex: 1;

    @media (max-width: 850px) {
      flex-direction: column;
    }

    .stam_aboutus_image_div {
      display: flex;
      flex: 1;
      justify-content: center;

      img {
        width: 350px;
        height: 350px;
        border-radius: 50%;
        
        @media (max-width: 500px) {
          width: 250px;
          height: 250px;
        }
      }
    }

    .stam_aboutus_desc_div {
      display: flex;
      flex: 1;
      font-family: $primaryFontFamily;

      .stam_aboutus_desc {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;

        h1 {
          font-size: 35px;
          font-weight: 600;
        }

        span {
          font-size: 20px;
          font-weight: 600;
        }

        p {
          font-size: 15px;
          margin-left: 0px;
          text-align: justify;
        }
      }

    }
  }

  .smiling-About-container2 {
    background-color: black;
    opacity: 0.2;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    position: fixed;
  }

  .smining-about-title {
    padding: 70px 0 120px;
  }

  .daimondsEveryAbout {
    margin-inline: 12%;
    background-color: white;

    @media (max-width: 1422px) {
      margin-inline: 0;
    }
  }

  .about-daimondBoxMain {
    display: flex;
    margin-inline: 90px;
  }

  .about-daimondBox1 {
    border: 1px solid #e1e1e1;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 10%;
  }

  .about-daimondBox2 {
    height: 550px;
    width: 50%;
  }

  .about-daimondBox2-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-top: 5px;
  }

  .about-foundersDesc {
    display: flex;
    justify-content: center;
  }

  .about-foundersImges {
    width: 50%;
    margin-block: 50px;
  }

  @media screen and (max-width: 1200px) {
    .smr_daimondsEveryAbout_sub {
      margin-inline: 6%;
    }

    .about-daimondBoxMain {
      display: flex;
      flex-direction: column;
      margin-inline: 10px;
    }

    .about-daimondBox1 {
      width: 100%;
      order: 2;
    }

    .about-daimondBox2 {
      object-fit: cover;
      width: 100%;
      order: 1;
    }

    .daimondsEveryAbout {
      margin-inline: 0;
      word-break: break-word !important;
    }

    .aboutMain {
      padding-top: 40px !important;
    }
  }

  @media screen and (max-width: 800px) {
    .daimondsEveryAbout {
      margin-inline: 1% !important;
    }
  }

  @media screen and (max-width: 600px) {
    .about-daimondBox2-image {
      height: 290px;
    }

    .about-daimondBox2 {
      height: auto;
    }
  }
}