@import '../../../scss/variable.scss';

.for_confirMaindiv {
    font-family: $primaryFontFamily;
    margin-top: 107px;
    min-height: 475px;
    margin-bottom: 50px;
}

.for_confirSecondMaindiv {
    margin-inline: 280px;
    background-color: #fff;
}

.for_thankYouContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    position: relative;
}

.for_thankYouContent {
    text-align: center;

    button {
        margin-top: 20px;
        height: 40px;
        width: 190px;
        font-family: $primaryFontFamily !important;
        font-size: $fontSize3;
    }
}

.for_thankYouMessage h1 {
    font-size: $fontSize6;
    color: #ff9ca5;
    margin-bottom: 20px;
}

.for_thankYouMessage h1 span {
    color: $titleColor;
}

.for_orderNumber p {
    font-size: $fontSize3 ;
    color: $titleColor;
}

.for_orderNumber p span {
    font-weight: bold;
    color: #ff9ca5;
}



.for_orderCnfThankyouImage {
    height: 250px;
    width: 250px
}

.for_plwlPrintDiv {
    // position: absolute;
    // top: 50px;
    // right: 50px;

    .icon-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 150px;
        font-family: $primaryFontFamily !important;
        font-size: $fontSize3;
        color: $btn1hoverFontColor;
        background-color: $btn1ActivebgColor;
        border: 1px solid $btn1FontColor;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #fff;
            color: $titleColor;
        }

        .icon {
            margin-right: 5px;
        }
    }
}