@import '../../../scss/variable';

.for_mainTrending1Div {
    .for_trending1TitleDiv {
        text-align: center;
        padding-block: 3%;

        .for_trending1Title {
            font-size: $fontSize6;
            color: $homePageFontColor;
            font-family: $primaryFontFamily;
        }
    }

    .for_trendingProduct-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0px 10px;

        .for_leftSideBestTR {
            width: 50%;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
            }

            .for_lookbookImageRightDT {
                position: absolute;
                top: 50%;
                left: 40%;
                transform: translate(-30%, -70%);
                font-size: $fontSize6;
                color: #fff;
                text-transform: capitalize;
                font-family: $primaryFontFamily;
                text-align: center;

                h2 {
                    font-size: $fontSize7;
                    font-family: $primaryFontFamily;
                    left: .8px;
                }

                p {
                    font-size: $fontSize3;
                    font-family: $primaryFontFamily;
                    left: .5px;
                }

                button {
                    width: 160px;
                    height: 35px;
                    font-size: $fontSize2;
                    font-family: $primaryFontFamily;
                    background-color: #fff;
                    color: $titleColor;
                    letter-spacing: .5px;
                    border: none;
                    cursor: pointer;
                }
            }
        }

        .for_rightSideTR {
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            justify-content: end;
            gap: 10px;

            .product-card {
                width: calc(50% - 10px);
                box-sizing: border-box;

                .for_btimageDiv {
                    padding: 50px;
                    background-color: #f1f1f1;

                    img {
                        width: 100%;
                        height: 100%;
                        display: block;
                        object-fit: contain;
                        max-height: 450px;
                    }
                }

                .product-info {
                    padding: 5px;
                    background-color: #fff;

                    h3 {
                        font-size: $fontSize1;
                        color: $titleColor;
                        font-family: $primaryFontFamily;
                        margin: 0;
                        letter-spacing: .5px;
                    }

                    p {
                        margin: 5px 0;
                        font-size: $fontSize2;
                        color: $titleColor;
                        font-family: $primaryFontFamily;
                        font-weight: bold;
                        letter-spacing: .5px;
                    }

                    span {
                        font-size: $fontSize1;
                        font-family: $primaryFontFamily;
                        color: $titleColor;
                        letter-spacing: .5px;
                    }

                    .for_btpipe {
                        margin: 0px 3px;
                    }
                }
            }
        }

        @media (max-width: 1200px) {
            flex-direction: column;
            align-items: center;

            .for_leftSideBestTR,
            .for_rightSideTR {
                width: 100%;
            }

            .for_lookbookImageRightDT {
                left: 50%;
                transform: translate(-50%, -70%);
            }
        }

        @media (max-width: 992px) {

            .for_leftSideBestTR,
            .for_rightSideTR {
                width: 100%;
            }

            .product-card {
                width: 100%;
                margin-bottom: 10px;
            }
        }

        @media (max-width: 768px) {
            .for_lookbookImageRightDT {
                left: 50%;
                transform: translate(-50%, -50%);

                h2 {
                    font-size: $fontSize5 !important;
                }

                p {
                    font-size: $fontSize1 !important;
                }

                button {
                    font-size: $fontSize1 !important;
                }
            }

            .product-card {
                width: 100%;
                padding: 0;
                margin: 0 0 10px 0;

                .for_btimageDiv {
                    padding: 20px !important;
                }
            }
        }

        @media (max-width: 576px) {
            .for_mainTrending1Div {
                .for_trendingProduct-grid {
                    padding: 0px 10px !important;
                }
            }

            .for_leftSideBestTR,
            .for_rightSideTR {
                width: 100%;
                margin-top: 10px;
                justify-content: center;
                padding: 0;
            }

            .product-card {
                width: 100%;
                margin: 0 0 10px 0;

                .for_btimageDiv {
                    padding: 10px !important;
                }

                .product-info {
                    padding: 10px;

                    h3 {
                        font-size: $fontSize1 !important;
                    }
                    p {
                        span {
                            font-size: $fontSize2 !important;
                        }
                    }
                    span {
                        font-size: $fontSize0 !important;
                        letter-spacing: .1px !important;
                    }
                }
            }
        }
    }
}