@import "../../../scss/variable.scss";

.newsletter-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-inline: 15px;
  font-family: $primaryFontFamily;
  margin: 40px 0px 20px 0px;
  text-align: center;

  .icon {
    margin-bottom: 15px;

    img {
      width: 100%;
      max-width: 100px;
    }
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  p {
    color: #666;
    font-size: 1rem;
    margin-bottom: 20px;
    padding-inline: 10px;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .email-input {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

    .email-input-with-error {
      display: flex;
      flex-direction: column;

      input {
        padding: 8.2px 20px;
        font-size: $fontSize2;
        border: 1px solid #ccc;
        margin-right: 20px;
        outline: none;
        color: $primaryfontcolor;
        width: 250px;

        &:focus {
          border-color: #000;
        }
      }

      .for-error-message-news {
        display: flex;
        width: 15.5rem;
        text-align: justify;
      }
    }

    button {
      padding: 8px 20px;
      font-size: $fontSize2;
      height: 2.4rem;
    }
  }

  .disclaimer {
    font-size: $fontSize1;
    color: $primaryfontcolor2;
    margin-top: 20px;
    width: 500px;
    padding: 0;
    margin: 0;
  }

  .newslatterEmail {
    a {
      text-decoration: none;
      color: $primaryfontcolor2;
      font-size: $fontSize1;
    }
  }

  @media (max-width: 600px) {
    .sub-text {
      font-size: 12px;
      margin-left: -10px;
      font-weight: 400;
      text-align: left;
      color: black;
    }

    .email-input {
      flex-direction: column;
      width: 100%;

      .email-input-with-error {
        width: 100%;

        input {
          border-radius: 1px;
          margin-bottom: 2px;
          width: 100%;
        }

        .for-error-message-news{
          width: 100%;
          margin-bottom: 2px;
        }
      }

      button {
        border-radius: 1px;
        width: 100%;
      }
    }

    .disclaimer {
      width: 100%;
      text-align: left;
    }
  }
}