@import "../../../scss/variable";

.smrMA_alubmMainDiv {
  margin-inline: 0px;
  // margin-top: -5px;
  padding-top: 2rem;
  position: relative;
  padding-bottom: 0.4rem;
  height: auto;

  @media (max-width: 600px) {
    height: 280px;
  }

  .smr_AlbumImageMain {
    width: 300px;
    padding: 2px;
    cursor: pointer;
    // box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  }

  .smr_albumTitle {
    color: $homePageFontColor;
    font-family: $homePageFontFamily;
    font-size: $fontSize5;
    text-align: center;
    margin: 4px;
  }

  .smr_albumName {
    color: $homePageFontColor;
    font-family: $homePageFontFamily;
    margin: 0px 0px 10px 0px;
    text-align: center;
  }


  .smr_AlbumImageMain_img {
    width: 100%;
    object-fit: contain;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.034);
  }
  .album-menu-btn-left {
    position: absolute;
    left: 0;
    top:55%;
    border: none;
    background-color: transparent;
    
  }
  .album-menu-btn-right {
    position: absolute;
    right: 0;
    top:55%;
    border: none;
    background-color: transparent;
    
  }
  .smr_mapp_albumALL_div {
    display: flex;
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      width: 8px; /* or height for vertical scrollbar */
      display: none;
    }
    
    /* Show scrollbar on hover */
    &:hover::-webkit-scrollbar {
      display: block;
    }
    
    /* Optional: Customize the scrollbar styles */
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 10px;
    }
    
    &::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, 0.1);
    }
    .smr_AlbumImageMain {
      width: 100%;
      min-width: 198px;
      display: block;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }

  // @media screen and (max-width: 1200px) {
  //     .smr_AlbumImageMain_img {
  //         // height: auto !important;
  //     }
  // }

  // @media screen and (max-width: 1000px) {
  //     // margin-inline: 10px !important;
  // }

  // @media screen and (max-width: 650px) {
  //     .smr_albumALL_div {
  //         width: 100%;
  //         display: flex;
  //         flex-wrap: wrap;
  //     }

  //     .smr_AlbumImageMain {
  //         width: 50% !important;
  //     }
  // }
}
