.printPage {
  // visibility: hidden !important;
  // display: grid !important;
  display: none !important;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  padding: 10px;

  .printPage-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    .image img {
      width: 100%;
      height: 350px;
      object-fit: cover;
    }

    .content {
      padding: 15px;

      .header {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 10px;
        color: #333;
      }

      .price {
        font-size: 1rem;
        color: #333;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.7rem;
        color: #555;

        p {
          margin: 0;
          line-height: 1.5;
        }
      }
    }
  }
}

@media print {
  body {
    margin: 0;
    padding: 0;
  }

  button {
    display: none !important;
  }

  .cartMainPageDiv {
    display: none !important;
  }

  header,
  footer,
  nav,
  .smr_headerMain_div,
  .smr_Footer1_main,
  .backtotop,
  .smr_cartmainRowDiv,
  .smr_cart-right-side,
  .smr_noCartlistData,
  .smr_cart-title .back-button {
    display: none !important;
  }

  .printPage {
    visibility: visible !important;
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 0px 10px;
  }

  .printPage-card {
    page-break-inside: avoid !important;
    break-inside: avoid;
    max-height: calc(100vh - 20px);
    overflow: hidden;
    margin-top: 10px;
    box-shadow: none !important;

    .image img {
      object-fit: contain !important;
    }
  }

  .print-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    border-bottom: 1px solid #ddd;
    z-index: 1000;
  }

  .print-logo {
    height: 50px;
  }

  p {
    padding: 0;
    margin: 0;
  }
}