@import "../../scss/variable";

.smrMA_prodDetail_bodyContain{
    background-color: White;
    height: 100%;
    width: 100%;
}

.smr_prodDetail_outerContain{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

.smr_prodDetail_whiteInnerContain{
    background-color: #fff;
    margin-inline: 6%;
    width: 100%;
}

.smr_prod_detail_main{
    width:100%
}
.list_Smr_lookbook{
    ::-webkit-scrollbar{
        width: 15px;
        background-color: gray;
    }
}

.smr_prod_image_shortInfo{
    width:100%;
    display: flex;
}

.smr_prod_image_Sec{
    width:60%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.smr_prod_shortInfo{
    width:40%;
    display: flex;
    justify-content: center;    
}

.smr_main_prod_img{
    display: flex;
    // flex-direction: row-reverse;
    width:80%;
    position: relative;
    justify-content: center;
    align-items: center;
    // margin-left: 51px;
    .swiper-button-prev{
        display: none;
    }
    .swiper-button-next{
        display: none;
    }
}

.smr_prod_img{
    position: inherit;
    width:100%;
    object-fit: scale-down;
}

.smr_app_prod_video{
    position:absolute;
    height: 100%;
    width: 100%;
    left: 35px;
}

.smr_app_prod_video{
    position: inherit;
    width:100%;
    object-fit: scale-down;
}

.smr_app_prod_thumb_img{
    object-fit: contain;
    // width: 70px;
    width:10px;
    height:10px;
    background-color: #7d7f85;
    border:1px solid #e1e1e1;
    border-radius:8px;
}

.smr_app_thumb_prod_img{
    position: absolute;
    // left:15px;
    // top:20px
    padding: 35px 0px 0px 15px;
    left:-71px;
    top:0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.smrMA_prod_shortInfo_inner{
    margin: 50px 100px 0px;
    width: 60%;
    // margin-top: 100px;
}

.smr_prod_titleLine_app{
    text-align: start !important;
    font-size: 30px;
    font-family: $homePageFontFamily;
    font-weight: 400;
    font-style: normal;
    color: $primaryfontcolor2;
}

.smr_prod_summury_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid $primaryBorderColor;
    padding-bottom: 12px;
}

.smr_prod_summury_info_inner{
    display: flex;
    flex-direction: column;
}

.smr_single_prod_designno{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    color:$primaryfontcolor2;
}

.smr_prod_short_key{
    font-size: 14px;
    color: $primaryfontcolor2;
}

.smr_prod_short_val{
    font-family: $primaryFontFamilyMedium;
    letter-spacing:2px;
}

.smr_single_prod_customize{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 12px;
}

.smr_single_prod_customize_metal{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-bottom: 15px;
    gap: 5px;
}

.smr_single_prod_customize_outer{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-bottom: 15px;
    padding-top: 10px;
    gap: 5px;
    border-top: 1px solid $primaryBorderColor2;
}

.menuItemTimeEleveDeatil{
    font-size: 13px;
    color: $primaryfontcolor;
    letter-spacing: 1px;
    font-family: $primaryFontFamily;
}

.menuitemSelectoreMain{
    border: none;
    outline: none;
    font-size: 15px;
    color: $primaryfontcolor2;
    font-family: $primaryFontFamilyMedium;
    // font-weight: bold;
    letter-spacing: 2.2px;
    height: 30px;
    // background-color: white;
}

.prod_detail_info_title{
    font-weight: 600;
    font-family: $primaryFontFamilyMedium;
    font-size: 14px;
}

.smr_price_portion{
    font-size: 24px;
    display: flex;
    letter-spacing: 2.2px;
    font-family: $primaryFontFamilyMedium;
    margin-left:5px;
    color: $primaryfontcolor2;
    margin-top: 12px;
}

.Smr_CartAndWish_portion{
    display: flex;
    gap: 12px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.smrMA_AddToCart_btn{
    border:1px solid #7d7f85;
    width: 80%;
    height: 30%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 49px;
    cursor: pointer;
    background-color: #7d7f85;
}

.smrMA_addtocart_btn_txt{
    font-family: $primaryFontFamilyMedium;
    font-size: 15px;
    letter-spacing: 1.5px;
    position: relative;
    color: white;
}

.Smr_wishlistcont{
    border:1px solid #7d7f85;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4%;
    border-radius: 2px;
    background-color: white;
}

.smr_proDeatilList_mobileapp{
    width: 25%;
    font-weight: 600;
    font-size: 12px;
    font-family: $primaryFontFamilyMedium;
    color: $primaryfontcolor2;
    text-decoration: underline;
}

.smr_proDeatilList_mobileapp1{
    width: 25%;
    color: #808080;
    font-family: $primaryFontFamilyMedium;
    font-size: 12px;
}

.smrMA_material_details_portion{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-bottom: 50px;
}

.dt_stockItem_div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-bottom: 70px;
}

.smr_app_details_title{
    font-size: 25px;
    font-family: $homePageFontFamily;
    color: $primaryfontcolor2;
}

.smr_material_details_portion_inner{
    width:60%;
}

.smr_mt_detail_title_ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    margin: 0px 0px 3px;
}

.smr_prodd_datanotfound_ss {
    font-family: $primaryFontFamilyMedium;
    color: $primaryfontcolor;
    font-size: 42px;
}
.product-not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100svh;
    
    .content {
      text-align: center;
    }
  
    .icon-wrapper {
      margin-bottom: 1.5rem;
    }
  
    .icon {
      font-size: 4rem;
      color: #9ca3af;
    }
  
    .title {
      font-size: 1.4rem;
      font-weight: 800;
      color: #111827;
    }
  
    .description {
      font-size: 1.125rem;
      color: #4b5563;
      margin-bottom: 1.5rem;
      font-weight: 500;
      padding-inline: 45px;
    }
  
    .button-wrapper {
      margin-top: 1rem;
    }
  
    .button {
      display: inline-block;
      background-color: #f3d7bb;
      color: black;
      font-weight: 600;
      padding: 0.55rem 1.5rem;
      border-radius: 0.375rem;
      text-decoration: none;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #EDE1D5;
      }
    }
  }
  
  

.cart_and_wishlist_icon_ss_app{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    flex-direction: row-reverse;
}

.smr_stockitem_container{
    width:100%
}


.smr_stock_item_card{
    display: flex;
    justify-content: center;
    width: 94%;
    align-items: center;
    margin-inline: 3%;
    gap:8px;
    flex-wrap:wrap;
}

.smr_stockItemCard{
    display: flex;
    position: relative;
    width: 310px;
    border: 1px solid #e1e1e1;
    text-align: center;
    flex-direction: column;
}

.smrMA_productCard_Image {
    object-fit:contain;
    // background-position: 50%;
    background-size: contain;
    // height: 100%;
    // min-height: 100%;
    width: 100%;
}

.smr_prod_Allwt {
    display: flex;
    // flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-inline: 30px;
    gap: 3px;
    font-family: $primaryFontFamily;
    color: $primaryfontcolor2;
}

.smr_prod_wt {
    display: flex;
    gap: 2px;
    font-family: $primaryFontFamily;
    
}
  
.dt_keys {
font-size: 9px;
}

.dt_val {
font-size: 9px;
font-weight: 400;
}

.dt_prod_designno {
font-size: 14px;
font-weight: 400;
padding: 0px 5px;
color: $primaryfontcolor2;

}

.smr_stockItem_price_type_mt{
    color: $primaryfontcolor;
    font-size: 14px;
    font-family: $primaryFontFamily;
}

.mobile_smr_DesignSet_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .swiper-pagination{
        display: none !important;
    }
    .smr_Swiper_designSet {
        max-width: 1600px;
    }
    
@media screen and (max-width:1820px) {
    .smr_Swiper_designSet {
        max-width: 1400px;
    }
}

@media screen and (max-width:1590px) {
    .smr_Swiper_designSet {
        max-width: 1200px;
    }

    .compeletethelook_prodt_for_3 {
        width: 750px;
    }
}

@media screen and (max-width:1364px) {
    .smr_Swiper_designSet {
        max-width: 1100px;
    }
}

@media screen and (max-width:1121px) {
    .smr_Swiper_designSet {
        max-width: 900px;
    }

    .compeletethelook_cont {
        display: flex;
        flex-direction: column !important;
    }

    .smr_ctlImg_containe {
        width: 600px !important;
        height: 600px !important;
    }

    .compeletethelook_prodt {
        margin-left: 0px !important;
    }

    .compeletethelook_prodt_for_3 {
        margin-left: 0px !important;
        height: auto !important;
        overflow-y: visible !important;
        width: 750px;
    }

    .swiper-pagination {
        position: relative
    }
}

@media screen and (max-width:917px) {
    .smr_Swiper_designSet {
        max-width: 100%;
    }

    .compeletethelook_cont {
        display: flex;
        flex-direction: column !important;
    }

    .smr_lb3ctlImg_containe {
        width: 300px !important;
        height: 300px !important;
        // height: 100% !important;
    }

    .compeletethelook_prodt {
        margin-left: 0px !important;
        width: 360px;
    }

    .compeletethelook_prodt_for_3 {
        margin-left: 0px !important;
        width: 360px;
    }

    .swiper-pagination {
        position: relative
    }

    .completethelook_outer {
        width: 357px !important;
    }

    .compeletethelook_cont {
        padding: 0 50px !important;
    }
}

@media screen and (max-width:612px) {
    .smr_Swiper_designSet {
        max-width: 360px;
    }

    .compeletethelook_cont {
        display: flex;
        flex-direction: column !important;
    }

    .smr_ctlImg_containe {
        width: 300px !important;
        height: 300px !important;
        // height: 100% !important;
    }

    .compeletethelook_prodt {
        margin-left: 0px !important;
        width: 360px;
    }

    .compeletethelook_prodt_for_3 {
        margin-left: 0px !important;
        width: 360px;
    }

    .swiper-pagination {
        position: relative
    }

    .completethelook_outer {
        width: 357px !important;
    }

    .compeletethelook_cont {
        padding: 0 0 !important;
        margin-top: 14px !important;
    }

    .swiper-button-prev {
        display: none;
    }

    .swiper-button-next {
        display: none;
    }

    // .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    //     top:-814px !important;
    // }
}

.compeletethelook_cont {
    padding: 0px 85px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
    color: black;
}

.swiper-pagination-bullet-active {
    background: black;
}

.swiper-pagination-bullet {
    width: 27px !important;
    height: 2px !important;
    border-radius: 0px !important;
}


.compeletethelook_prodt {
    z-index: 1;
    position: relative;
    margin-left: -140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // height:364px;
    // overflow-y: scroll;
}

.compeletethelook_prodt_for_3 {
    z-index: 1;
    position: relative;
    margin-left: -140px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    height: 420px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.completethelook_outer {
    padding: 5px;
    border: 1px solid #e1e1e1;
    background-color: #fff;
    width: 513px
}

.srthelook_img {
    width: 110px;
    height: 110px;
    object-fit: cover;
}

.srthelook_prodinfo {
    display: flex;
    align-items: center;
    // border-bottom: 1px solid #e1e1e1;
    border-bottom: none !important;
    gap: 158px;
}

.srthelook_prodinfo_inner {
    font-family: $primaryFontFamilyMedium;
}

.smr_ctlImg_containe {
    width: 951px;
    height: 632px;
}

.ctl_img {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
    margin-top: 12px;
    margin-bottom: -100px;
}

.smr_DesignSet_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}


@media screen and (max-width:1200px) {
    .smr_prod_image_shortInfo {
        display: flex;
        flex-direction: column;
    }

    .smr_prod_video {
        position: relative;
        left: 0;
        margin-bottom: 35px;
        height: 80%;
    }

    // .smr_main_thumb_prod_img{
    // /* position: absolute; */
    // /* padding: 35px 0px 0px 15px; */
    // // left: -71px;
    // // top: 0;
    // display: flex;
    // /* flex-direction: column; */
    // gap: 5px;
    // justify-content: center;
    // align-items: center;
    // }
    .smr_main_thumb_prod_img {
        display: flex;
        gap: 5px;
        position: relative;
        flex-direction: row;
        // justify-content: center;
        padding: 0;
        left: 0px;
        width: 100%;
        overflow-x: auto;
        scrollbar-width: thin;
    }

    .smr_prod_image_Sec {
        width: 100%
    }

    .smr_prod_shortInfo {
        width: 100%
    }

    .smr_material_details_portion {
        margin-top: 15px;
    }

    .smr_prodDetail_whiteInnerContain {
        margin-inline: 1%;
    }

    .smr_material_details_portion_inner {
        width: 100%;
    }

    .smr_prod_shortInfo_inner {
        margin: 0;
        width: 80%
    }
}

@media screen and (max-width:1400px) {
    .smr_prod_shortInfo_inner {
        margin: 70px 50px 0px;
        width: 80%;
    }
}

@media screen and (max-width:425px) {
    .smr_prod_titleLine {
        font-size: 22px;
    }

    .smr_prod_shortInfo_inner {
        width: 100%;
        margin: 70px 20px;
    }
}
}


@media screen and (max-width:1200px) {
    .smr_prod_image_shortInfo{
        display: flex;
        flex-direction: column;
    }

    .smr_app_prod_video{
        position: relative;
        left:0;
        // margin-bottom: 35px;
        height: 80%;
    }

    // .smr_thumb_prod_img{
    // /* position: absolute; */
    // /* padding: 35px 0px 0px 15px; */
    // // left: -71px;
    // // top: 0;
    // display: flex;
    // /* flex-direction: column; */
    // gap: 5px;
    // justify-content: center;
    // align-items: center;
    // }
    .smr_app_thumb_prod_img{
        // width: 100%;
        // overflow-x: auto;
        margin-top: 33px;
        display: flex;
        gap:5px;
        position: relative;
        flex-direction: row;
        justify-content: center;
        padding: 0;
        left:0px
    }

    .smr_prod_image_Sec{
        width:100%
    }

    .smr_prod_shortInfo{
        width:100%
    }

    .smrMA_material_details_portion{
        margin-top: 15px;
    }

    .smr_prodDetail_whiteInnerContain{
        margin-inline: 1%;
    }
    .smr_material_details_portion_inner{
        width:100%;
    }

    .smrMA_prod_shortInfo_inner{
        margin: 0;
        width:80%
    }
}

@media screen and (max-width:1400px) {
    .smrMA_prod_shortInfo_inner{
        margin:50px 5px 0px;
        width: 100%;
    }
}
@media screen and (max-width:425px) {
    .smr_prod_titleLine_app{
        font-size: 25px;
    }
    .smrMA_prod_shortInfo_inner{
        width:100%;
        margin:-5px 20px; 
    }
}