.smrMo_addCardSkeltonMainBox{
    width: 100%;
    padding-bottom: 50px;

.smrMo_addCardSkelton{
    box-shadow: none !important;
    
    .smrMo_addCardSkelton{
        background-color: #f6f6f6 !important;
    }
}
}