@import "../../../scss/variable.scss";

.for_topbar {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $ProjectActiveColor;
  // background-color: #000000;
  font-family: $primaryFontFamily;
  position: fixed;
  top: 0;
  z-index: 9999;
  span {
    color: black;
    font-size: 18px;
    font-weight: 400;
  }

  @media screen and (max-width : 480px) {
    span {
      color: black;
      font-size: 14px;
      font-weight: 500;
      word-wrap: break-word;
      text-align: center;
    }
  }
}
