@import "../../../scss/variable.scss";

.malan_forgotMain {
    margin-top: 220px;
    background-color: $backgroundColor;
    color: white;
    padding-bottom: 4rem;
    font-family: $rown !important;
    padding-block: 100px;
    font-family: $primaryFontFamily !important;
    @media screen and (max-width: 1200px) {
      margin-top: 80px;
    }
    .smling-forgot-main {
        background-color: inherit;
    }

    .AuthScreenMainTitle{
        background-color: inherit;
    }
    .malan_forgotSubDiv{
        background-color: inherit;
    }
    .mala_forgotBox{
        .MuiInputBase-input {
            font-family: $rown !important;
            color: white !important ;
    }
    }


    .labGrowForgot {
        width: 420px;
        margin: 10px;
    }

    .submitBtnForgot {
        height: 60px;
        width: 420px;
        color: white;
        border: 0;
        margin-top: 10px;
        font-size: 13px;
        font-weight: 500;
      
    }

   
    .cancleForgot {
        color: #7d7f85;
        font-size: 12px;
        margin-top: 25px;
        font-weight: 500;
        letter-spacing: 1px;
        position: relative;
        text-decoration: none;
        transition: color 0.3s;
        cursor: pointer;
    }

    .cancleForgot::before {
        content: '';
        position: absolute;
        width: 0;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #000;
        transition: width 0.3s ease;
    }

    .cancleForgot:hover::before {
        width: 100%;
    }

    #outlined-password-input::-ms-reveal {
        display: none !important;
    }

    #outlined-confirm-password-input::-ms-reveal {
        display: none !important;
    }
    .mala_forgotBox {
        width: 420px;
        margin: 10px;
    }

    .createBtnRegister {
        height: 60px;
        width: 420px;
        color: white;
        border: 0;
        margin-top: 10px;
        font-size: 13px;
        cursor: pointer;
        font-weight: 500;
        letter-spacing: 1;
        background-color: $authButtonsBgColor;
        color: #17372f;
        font-family: $primaryFontFamilyMedium;
        cursor: pointer;
        letter-spacing: 1;
        transition: 0.2s ease-in;
        border-radius: 3px;
        &:hover {
          background-color: $authButtonsBgColorHover;
    }
    }


    .mala_forgotSubDiv {
        margin-inline: 6%;
        background-color: white;
    }

    @media screen and (max-width: 950px) {
        .AuthScreenMainTitle {
            font-size: 25px !important;
            padding-bottom: 50px !important;
        }

        .AuthScreenSubTitle{
            margin-top: -60px!important;
        }
    }

    @media screen and (max-width: 700px) {

        .createBtnRegister {
            width: 90%;
            height: 50px !important;
        }

        .mala_forgotBox {
            width: 90%;
            margin: 10px;
        }

        .labGrowForgot {
            width: 80%;
        }

        .submitBtnForgot {
            width: 80%;
        }

    }

    @media screen and (max-width: 400px) {
        .AuthScreenMainTitle {
            font-size: 25px !important;
            padding-bottom: 50px !important;
            padding-inline: 20px !important;
        }

        .AuthScreenSubTitle{
            margin-top: -60px!important;
        }
    }
}