.stam_Banner_main {
    position: relative;

    .stam_BannerMAinTitleMAin {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .stam_banner_Title {
        position: absolute;
        font-family: math;
        font-size: 7rem;
        color: #f1dfdf;
        bottom: -57px;
        left: 16%;
        font-style: italic;
        text-transform: lowercase;
        letter-spacing: 10px;
    }

    .stam_BannerMAinTitle1 {
        font-size: 18px;
        margin: 0px;
    }

    .stam_BannerMAinTitle2 {
        font-size: 30px;
        margin: 0px;
    }

    .stam_BannerMAinTitle3 {
        font-size: 16px;
        margin: 0px;
    }

    .stam_Banner_main_div {
        display: flex;
        margin-bottom: 50px;
    }

    .stam_Banner_Iamge1 {
        width: 100%;
        padding: 60px 18% 12% 18%;
    }

    .stam_Banner_Iamge2 {
        width: 100%;
        padding: 60px 18% 10% 18%;
    }

    .stam_Banner_Iamge3 {
        width: 100%;
        padding: 60px 18% 12% 18%;
    }

    .stam_Banner_Iamge4 {
        width: 100%;
        padding: 60px 18% 12% 18%;
    }


    .stam_Banner_main_div_main1 {
        width: 100%;
        position: relative;
    }

    .stam_Banner_main_div_main2 {
        position: relative;
        width: 100%;
    }

    .stam_Banner_main_div_main3 {
        position: relative;
        width: 100%;
        margin-top: 240px;
    }

    .stam_Banner_main_div_main4 {
        position: relative;
        width: 100%;
    }

    .products__desc {
        text-align: left;
        width: 363px;
        min-height: 328px;
        position: absolute;
        left: 60px;
        top: 34%;
        background: rgba(255, 255, 255, .8);
        box-sizing: border-box;
        z-index: 1;
        padding: 20px;
    }

    .FestiveMainImage {
        position: relative;
    }

    .FestiveBannerImage {
        width: 100%;
    }

    .festiveBox {
        position: absolute;
        top: 50%;
        left: 83% !important;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 20px;
        background: #ffffff59;
    }

    .DiscoverBtn {
        margin-top: 30px;
        height: 60px;
        width: 200px;
        background-color: gray;
        color: white;
        cursor: pointer;
        border: none;
    }

    .DiscoverBtn:hover {
        border: 1px solid gray;
        color: gray;
        background-color: transparent;
    }

    @media screen and (max-width: 1550px) {
        .stam_banner_Title {
            display: none !important;
        }
    }

    @media screen and (max-width: 1024px) {
        
        .stam_promotion1 {
            min-height: auto !important;
        }

        .products__desc {
            position: static !important;
        }

        .stam_Banner_main_div_main1 {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .stam_Banner_main_div_main2 {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .stam_Banner_main_div_main3 {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .stam_Banner_main_div_main4 {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .stam_Banner_main_div {
            display: flex;
            flex-direction: column !important;
        }

        .products__desc {
            width: 95% !important;
        }

        .stam_Banner_Iamge1,
        .stam_Banner_Iamge2,
        .stam_Banner_Iamge3,
        .stam_Banner_Iamge4
         {
            padding: 10px !important;
        }


        .FestiveMainImage {
            display: flex !important;
            flex-direction: column !important;
        }

        .festiveBox {
            position: static !important;
            background-color: #c0bbb1;
            top: 0;
            left: 0;
            transform: translate(0%, 0%) !important;
            text-align: center;
        }

        .smilingFestiMainTitle1 {
            font-size: 11px !important;
            font-weight: 500;
            margin: 0px;
            color: white !important;
        }

        .festiveBox {
            padding-top: 5px !important;
        }


        .smilingFestiMainTitle2 {
            font-size: 20px !important;
            color: white !important;

        }

        .smilingFestiMainTitle3 {
            color: white !important;
        }

        .DiscoverBtn {
            width: 200px !important;
            height: 50px !important;
            color: white;
            background-color: gray;
            font-weight: 500;
            font-size: 13px;
            margin-top: 10px !important;
        }
    }
}