@import "../../../../../scss/variable.scss";

.hero-section {
    position: relative;
    width: 100%;
    height: 100vh;

    .main_smlingSearchoverlay_div {
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        z-index: 999;
        position: fixed;
        top: 0;
    }

    .main_smlingTopSerachOver {
        background-color: white;
        width: 100%;
        height: 12rem;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border: 1px solid lightgray;
        padding: 10px;
        position: relative;
        transform: translateY(-100%);
        transition: transform 0.3s ease-in;
    }

    .main_smlingTopSerachOver.active {
        transform: translateY(0);
        z-index: 111;
    }

    .main_search_div {
        display: flex;
        gap: 10px;
        align-items: center;
        border: 1px solid #E5E5E5;
        width: 30%;
        margin-inline: auto;
        padding-inline: 10px;
    }

    .main_serachinputBoxOverly {
        width: 95%;
        height: 50px;
        border: none;
        outline: none;
        padding-inline: 12px;
    }

    .main_TopSection_offers_div {
        background-color: black;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        .swiper-container {
            width: 100%;
            height: 100%;
        }

        .main_Topsection_offers_span {
            color: white;
            font-size: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
        }
    }

    .main_Herosection_slider_div {
        width: 100%;
        margin-inline: auto;
        position: relative;

        @media (max-width: 1100px) {
            width: 85%;
        }

        .slider-text {
            position: absolute;
            bottom: 50px;
            left: 5%;
            transform: translateX(-50%);
            color: black;
            text-align: center;
            font-size: 1.5rem;
            font-weight: bold;
            z-index: 1;
        }

        .main_Herosection_slider_img {
            height: 100vh;
            width: 100%;
        }
    }

    .smr1_Topsection_Header_div {
        width: 75%;
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .smr1_Topsection_header_logo_div {
            display: flex;
            align-items: center;
        }

        .smr1_Topsection_header_cart_div {
            display: flex;
            align-items: center;

            @media (max-width: 1200px) {
                display: none;
            }

            .smr1_Topsection_search_div {
                display: flex;
                align-items: center;
                padding: 10px;
                border: 1px solid #d4d2d2;
                width: 68%;
                margin-right: 5%;

                .smr_Topsection_search_input {
                    border: none;
                    outline: none;
                    width: 100%;
                    padding-left: 5%;
                }

                .smr_Topsection_search_icon {
                    margin-right: 5%;
                }
            }

            .smr1_Topsection_wishCart_div {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 13px;
            }
        }
    }

    // .instagram-banner {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     z-index: 20;
    //     background-color: black;
    //     color: white;
    //     padding: 10px 20px;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;

    //     .icon {
    //         width: 16px;
    //         height: 16px;
    //         position: absolute;
    //     }

    //     .left {
    //         left: 20px;
    //     }

    //     .right {
    //         right: 20px;
    //     }

    //     .text {
    //         font-size: 14px;
    //     }
    // }

    .video-background {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin-top: 25px;

        video,
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .main_overlay {
        position: absolute;
        // inset: 0;
        // background: rgba(0, 0, 0, 0.2);
    }

    .main_header {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 10;
        transition: all 0.3s ease-in-out;   
        padding-top: 40px;

        &.fixed {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            z-index: 100;
            background: white;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            padding-top: 10px;
            backdrop-filter: blur(10px);
        }

        &.scrolled {
            background: white;
            backdrop-filter: blur(10px);

            .logo {
                .logo-text {
                    color: black;
                }
            }

            .nav {
                align-items: center;

                .search-btn {
                    color: black;
                }

                .menu {
                    .menu-link {
                        color: #000;
                    }
                }

                .cart {

                    .cart-icon,
                    .wish-icon {
                        color: black;
                    }

                    .cart-count,
                    .wish-count {
                        top: -18px;
                        right: -5px;
                        background: black;
                        color: white;
                    }
                }
            }
        }

        .logo {
            text-align: center;

            .logo-text {
                font-size: 36px;
                font-weight: 300;
                letter-spacing: 3px;
                color: white;
            }
        }

        .nav {
            display: flex;
            justify-content: space-between;
            padding: 20px 0;
            width: 85%;
            margin-inline: auto;

            .search-btn {
                width: 40px;
                color: white;
                background: transparent;
                border: none;
            }

            .menu {
                display: flex;
                align-items: center;
                gap: 30px;
                list-style: none;
                padding: 0;

                li {
                    position: relative;
                }

                .menu-link {
                    color: white;
                    text-decoration: none;

                    &:hover {
                        color: #b3b3b3;
                    }

                    &.dropdown::after {
                        content: ' ▼';
                    }
                }

                .dropdown-menu {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    background-color: white;
                    color: black;
                    border-radius: 4px;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                    min-width: 150px;
                    list-style: none;
                    padding: 10px 0;
                    margin-top: 5px;
                    z-index: 9999;

                    .dropdown-item {
                        padding: 8px 15px;
                        text-decoration: none;
                        color: black;
                        display: block;

                        &:hover {
                            background-color: #f4f4f4;
                        }
                    }
                }

                .dropdown-menu {
                    display: none;
                }
            }

            .cart {
                width: 80px;
                position: relative;
                display: flex;
                gap: 5px;
                justify-content: space-between;

                .cart-icon,
                .wish-icon {
                    color: white;
                    background: transparent;
                    border: none;
                    position: relative;
                }

                .cart-count,
                .wish-count {
                    position: absolute;
                    top: -5px;
                    right: -5px;
                    background: white;
                    color: black;
                    font-size: 12px;
                    border-radius: 50%;
                    width: 23px;
                    height: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: bold;
                }
            }

        }
    }

    //search box styling......
    .smr_smlingSearchoverlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 150%;
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        z-index: 999;
        font-family: $Pfonts;
    }

    .smr_smlingTopSerachOver {
        height: 70px;
        background-color: white;
        width: 100%;
        margin: 10px 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 768px) {
            margin: 10px 5px;
            padding: 0 15px;
        }
    }

    .smr1_TopNavBar {
        width: 100%;
        margin-inline: auto;
        transition: 0.3s ease-in-out;

        @media screen and (max-width: 1390px) {
            width: 100%;
        }

        @media screen and (max-width: 1200px) {
            display: none;
        }

        .smr_flat_view_menu {
            width: 100%;
            height: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            // justify-content: flex-start;
            justify-content: center;
            z-index: 788;
            gap: 1rem;
            position: relative;

            @media (max-width: 1390px) {
                justify-content: center;
            }

            .new_hover_banner {
                width: 100%;
                position: absolute;
                top: 40px;
                left: 0;
                right: 0;
                height: 40vh;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #fff;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                overflow: hidden;

                .smr_left_list {
                    flex: 1 70%;
                    padding: 40px 0 40px 40px; // Top, right, bottom, left 

                    .smr_menu_level_list {
                        width: 100%;
                        display: flex;
                        gap: 60px;
                        text-transform: uppercase;
                        max-width: 43rem;
                        overflow-x: auto;
                        // scrollbar-width: thin;
                        // -ms-overflow-style: none;

                        @media screen and (max-width: 1600px) {
                            max-width: 60rem;
                        }

                        @media screen and (max-width: 1400px) {
                            max-width: 50rem;
                        }

                        @media screen and (max-width: 1336px) {
                            max-width: 45rem;
                        }

                        .level1MenuData {
                            font-size: 14px;
                            text-decoration: underline;
                            margin-bottom: 10px;
                            color: black;
                            text-align: start;
                            letter-spacing: 1;
                            font-weight: 500;
                            cursor: pointer;
                            white-space: nowrap;
                        }
                    }

                    .smr_menu_level_list::-webkit-scrollbar {
                        width: 12px !important;
                        height: 5px;
                        background-color: transparent !important;
                    }

                    /* Track */
                    .smr_menu_level_list::-webkit-scrollbar-track {
                        box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.116) !important;
                        border-radius: 8px !important;
                    }

                    /* Handle */
                    .smr_menu_level_list::-webkit-scrollbar-thumb {
                        background: rgba(153, 153, 153, 0.829) !important;
                        border-radius: 25px !important;
                    }

                    /* Handle on hover */
                    .smr_menu_level_list::-webkit-scrollbar-thumb:hover {
                        background: #b4b4b4c4 !important;
                    }
                }

                .smr_right_side_banner {
                    flex: 1 30%;
                    height: 40vh;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    gap: 1rem;
                    padding-right: 38px;

                    .image_box_s {
                        width: 100%;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }
            }

            .menu_list_Smr {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                padding: 15px 5px;
                position: relative;

                @media screen and (max-width: 1390px) {
                    padding: 12px 15px;
                    gap: 0.6rem;
                }

                &:hover {
                    transition: 0.3s ease-in-out;

                    .child_menu_hover {
                        display: flex;
                        flex-wrap: wrap;
                        transition: 0.3s ease-in-out;
                    }
                }

                .menu_list_Smr_0_title {
                    font-size: 16px;
                    font-weight: 500;
                    // color: $badgetxtcolor;
                    text-transform: uppercase;
                    text-decoration: none;
                    position: relative;
                    font-family: $homePageFontFamily;

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: -3px;
                        left: 0;
                        width: 0%;
                        background-color: #fff;
                        height: 2px;
                        border-radius: 8px;
                        transition: 0.3s ease-in-out;
                    }

                    &:hover {
                        &::after {
                            width: 100%;
                        }
                    }

                    @media screen and (max-width: 1390px) {
                        font-size: 14px;
                    }
                }

                .child_menu_hover {
                    transition: 0.3s ease-in-out;
                    position: absolute;
                    top: 50px;
                    left: 0;
                    right: 0;
                    z-index: 4646;
                    background-color: #fff;
                    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                    display: none;
                    width: 300px;
                    min-height: auto;
                    height: auto;
                    padding: 10px;

                    .smr_menu_menu {
                        display: grid;
                        grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
                        width: 100%;
                        gap: 0.4rem;

                        .smr_view_more_button {
                            background-color: transparent;
                            border: none;
                            outline: none;
                            cursor: pointer;
                            border: 1px solid rgb(218, 216, 216);
                            width: 100%;
                            height: 25px;
                            font-size: 13px;
                            text-transform: capitalize;
                        }

                        .smr_menu_title_1 {
                            font-size: 15.5px;
                            font-weight: 600;
                            color: rgb(20, 20, 20);
                            text-transform: capitalize;
                            text-decoration: none;
                            margin: unset;
                            padding: unset;
                            cursor: pointer;
                            line-height: 15px;
                        }

                        .smr_menu_level1 {
                            .smr_menu_title_2 {
                                font-size: 13.8px;
                                font-weight: 600;
                                color: rgb(116, 116, 116);
                                text-transform: capitalize;
                                text-decoration: none;
                                margin: unset;
                                padding: unset;
                                cursor: pointer;
                                line-height: 15px;
                            }
                        }
                    }
                }
            }
        }
    }


    .smr_serachinputBoxOverly {
        width: 95%;
        height: 50px;
        border: none;
        outline: none;
    }

    .smr_smlingTopSerachOver-Fixed {
        height: 60px;
        background-color: white;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .smr_smlingSearchoverlayNew {
        position: relative;
        transform: translateY(-200px);
        top: 0;
        left: 0;
        width: 100%;
        height: 150%;
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        z-index: 999;
    }

    .smr_smlingSearchoverlayNew.fixed {
        position: fixed;
        top: 0;
        left: 0;
        box-shadow: 0 2px 5px rgba(20, 19, 19, 0.1);
        z-index: 1000;
        transform: translateY(0px);
        transition: all 0.4s ease;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        transform: translateY(0px);
        transition: all 0.4s ease;
    }

    .Smining-Top-Header-fixed-main.fixed.searchoverly {
        z-index: -500 !important;
    }

    .srm1_MobileSiderBarMain::-webkit-scrollbar {
        display: none !important;
    }

    .smr_showDropOptionMainDiv {
        overflow: auto;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        .smr_new_menu_ {
            width: 100%;
            padding: 1rem 0;
            display: flex;

            .smr_left_side_menu_list {
                flex: 1;
                //         grid-auto-rows: min-content;
                //   grid-auto-flow: dense;
                // display: grid;
                // grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
                // gap: 10px;
                display: block;
                column-count: 5;
                /* Split into 4 columns */
                column-gap: 1.2rem;

                /* Add gap between columns */
                // break-inside: avoid;       /* Prevent breaks within items (important for consistent flow) */
                a {
                    text-decoration: none;
                }

                .smr_menu_level_0 {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    text-align: start;
                    border-right: 1px solid #9b978f;

                    //   break-inside: avoid;
                    &:nth-child(4n) {
                        border-right: none;
                    }

                    .smr_menu_level_0_title {
                        text-decoration: none;
                        font-size: 16px;
                        text-transform: uppercase;
                        line-height: 17px;
                        color: rgb(49, 49, 49);
                        font-weight: 600;
                        text-decoration: none;
                        margin: unset;
                        padding-bottom: 8px;
                    }
                }

                .smr_menu_level_1 {
                    all: unset;

                    a {
                        color: rgb(73, 73, 73) !important;
                    }

                    .smr_menu_level_1_title {
                        text-decoration: none;
                        font-size: 14px;
                        text-transform: capitalize;
                        font-weight: 600;
                        margin: unset;
                        padding: unset;
                    }

                    .smr_underline_button {
                        all: unset;
                        margin-bottom: 1rem;
                        font-size: 13px;
                        text-transform: capitalize;
                        color: #9b978f;
                        cursor: pointer;
                    }
                }

                .smr_menu_level_2 {
                    a {
                        color: #808080 !important;
                    }

                    .smr_menu_level_2_title {
                        text-decoration: none;
                        margin: unset;
                        padding: unset;

                        p {
                            font-size: 13px;
                            text-transform: capitalize;
                            font-weight: 600;
                            text-decoration: none;
                            margin: unset;
                            padding: unset;
                            color: #9fa0a1;
                        }
                    }
                }
            }

            .smr_right_side_banner {
                flex: 0.6;
                display: flex;
                gap: 2rem;

                .image_box_s {
                    // width: 50%;
                    width: 100%;
                    max-height: 220px;
                    min-height: 200px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    .smr_showDropOptionMainDiv::-webkit-scrollbar {
        // display: none!important;
        height: 10px !important;
    }

    .badgeColor .MuiBadge-badge {
        background-color: $badgecolor !important;
        color: $badgetxtcolor !important;
    }

    .badgeColorFix .MuiBadge-badge {
        background-color: $badgecolor !important;
        color: $badgetxtcolor !important;
        margin-left: 10px !important;
    }

    .smr_mobile_viewAllBtn {
        border: none;
        background-color: transparent;
        color: white;
        text-decoration: underline;
        font-size: 15px;
    }

    .smr_mobile_subMenu {
        margin: 0px 0px 0px 15px;
        padding-block: 5px;
        color: #f6f6f6;
    }

    .mobileSideBarSearch::placeholder {
        color: white;
    }

    .smr_headerOptionSingleDiv {
        width: max-content;
    }

    @media screen and (max-width: 1700px) {
        .smiling_Top_header_div1 {
            width: 40% !important;
        }

        .smiling_Top_header_div2_web {
            width: 20% !important;
        }

        .smiling_Top_header_div3 {
            width: 40% !important;
        }
    }

    @media screen and (max-width: 1650px) {
        .smr_headerOptionSingleDiv {
            min-width: 250px !important;
        }
    }

    @media screen and (max-width: 1500px) {
        .smr_headerOptionSingleDiv {
            min-width: 200px !important;
        }

        .smiling_Top_header_div1 {
            width: 45% !important;
        }

        .smiling_Top_header_div2_web {
            width: 10% !important;
        }

        .smiling_Top_header_div3 {
            width: 45% !important;
        }

        .nav_li_smining {
            letter-spacing: 0px !important;
        }
    }

    @media screen and (max-width: 1390px) {
        .nav_li_smining {
            font-size: 12px !important;
        }

        .nav_li_smining_Fixed {
            font-size: 12px !important;
        }
    }

    @media screen and (min-width: 1201px) {
        .nav_ul_shop_menu_Mobile {
            display: none;
        }
    }

    @media screen and (max-width: 1200px) {
        .smr_mobileHeader_top_div1 {
            width: 33.33%;
        }

        .smr_mobileHeader_top_div2 {
            width: 33.33%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .smr_mobileHeader_top_div3 {
            width: 33.33%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        .smiling_Top_header {
            height: 80px !important;
        }

        .muilistMenutext {
            text-decoration: none;
        }

        .smiling_Top_header_sub {
            padding-inline: 2.5% !important;
        }

        .srm1_MobileSiderBarMain {
            height: 100%;
            width: 95%;
            overflow: scroll;
        }

        .nav_li_smining_shop {
            display: none;
        }

        .nav_li_smining_Mobile {
            display: none;
        }

        .nav_ul_shop_menu_Mobile {
            padding: 0px;
            margin: 0px !important;

            .muIconeMobileHeader {
                color: $menuColor;
            }
        }

        .smr_menuStaicMobile {
            margin: 0px;
            color: white;
            padding: 5px 0px 5px 0px;
        }

        .smr_menuStaicMobilePage {
            margin: 0px;
            // border-bottom: 1px solid white;
            color: white;
            padding: 5px 0px 5px 20px;
            font-weight: 500;
        }

        .smr_menuStaicMobilePageLink {
            margin: 0px;
            color: white;
            font-weight: 500;
            padding: 5px 0px 5px 20px;
        }

        .smr_ListMenuSiderMobile {
            margin-top: 0px !important;
        }

        .smiling_Top_header_div3 {
            padding-right: 5px;
        }
    }

    @media screen and (min-width: 501px) {
        .smiling_Top_header_div2_Mobile {
            display: none !important;
        }

        .smr_mobileHeader_top_div2_mobile {
            display: none !important;
        }
    }

    @media screen and (max-width: 500px) {
        .smiling_Top_header_div2_web {
            display: none !important;
        }

        .smr_mobileHeader_top_div2_web {
            display: none !important;
        }
    }

    @media screen and (max-width: 1000px) {
        .smiling_Top_header_div2_Mobile {
            display: flex;
            align-items: center;
        }
    }

    @media screen and (max-width: 600px) {
        .smr_mobileHideIcone {
            display: none !important;
        }
    }
}