@import "../../../scss/variable.scss";

.roop_continuemail {

  font-family: $fontRegular !important;

  .css-1wc848c-MuiFormHelperText-root {
    margin-right: 0px !important;
    margin-left: 0px !important;
    font-family: $fontRegular !important;
    font-size: 14px;
  }

  .smling-forgot-main {
    margin-inline: 6%;
    background-color: white;
  }

  .smr_continuEmailBox {
    width: 420px;
    margin: 10px;
    font-family: $fontRegular !important;
  }

  .AuthScreenMainTitle {
    text-align: center;
    padding-block: 60px;
    margin-top: 0px;
    font-size: 40px;
    color: #7d7f85;
    font-family: $fontBold !important;
  }

  .submitBtnForgot {
    height: 60px;
    width: 420px;
    color: white;
    background-color: $btnprimarycolor !important;
    border: 0;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 500;
    font-family: $fontRegular !important;
    cursor: pointer;
    border-radius: 8px;
    letter-spacing: 1px;
    transition: transform 0.3s ease;
  }

  .submitBtnForgot:hover {
    transform: scale(1.02);
  }

  .rp_cancleForgot {
    color: #7d7f85;
    font-size: 12px;
    margin-top: 25px;
    font-weight: 500;
    background-color: white;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: $fontRegular !important;
    border: 1px solid #c7c7c9;
    width: 420px;
    height: 60px;
    border-radius: 8px;
    position: relative;
    text-decoration: none;
    transition: all 0.5s ease;
    cursor: pointer;
  }

  .rp_cancleForgot:hover {
    background-color: rgba(66, 66, 66, 0.05);
  }

  .cancleBtn {
    margin-top: 10px;
  }

  @media screen and (max-width: 950px) {
    .AuthScreenMainTitle {
      font-size: 25px !important;
      padding-bottom: 50px !important;
    }

    .AuthScreenSubTitle {
      font-size: 12px !important;
      margin-inline: 15%;
    }

    .smling-forgot-main {
      margin-inline: 2% !important;
    }
  }

  @media screen and (max-width: 700px) {
    .smr_continuEmailBox {
      width: 90%;
    }

    .submitBtnForgot {
      width: 90%;
      height: 50px !important;
    }

    .rp_cancleForgot {
      width: 90%;
      height: 50px !important;
    }
  }

  @media screen and (max-width: 500px) {
    .submitBtnForgot {
      width: 90%;
      height: 40px !important;
    }

    .rp_cancleForgot {
      width: 90%;
      height: 40px !important;
    }

    .AuthScreenSubTitle {
      margin-top: -65px !important;
    }
  }
}