@import "../../../scss/Variable.scss";

.hoq_why_quality_manners {
  width: 100%;
  height: auto;
  font-family: $fontTenorSans;
  .content {
    width: 50%;
    margin: 0 auto;
    h1 {
      text-align: center;
      padding: 45px 0;
    }
    h5 {
        margin-left: 10px;
      font-weight: 600;
      font-size: 16px;
    }
    ol {
      p {
        font-size: 15px;
        font-weight: 500;
        margin-left: -10px;
      }
    }
    p {
      font-size: 15px;
      font-weight: 500;
      margin-left: 10px;
    }
  }
  .back-to-home{
    width: 100%;
    margin-top: 2rem;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    a{
      padding: 8px 12px;
      text-decoration: none;
      background-color: #c20000;
      color: white;
      outline: none;
      border: none;
      border-radius: 3px;
    }
  }
  @media (max-width: 1500px) {
    .content{
      width: 80%;
    }
  }
  
  @media (max-width: 615px) {
    .content{
      width: 95%;
    }
  }
}
