@import "../../../scss/variable.scss";

.smr_callLog_mainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    height: 100%;

    .smr_callLog_Button {
        font-size: 13.5px;
        font-weight: 600;
        background: $btnBg ;
        color: $btncolor ;
        margin-top: 3rem;
    }
}