@import '../../../scss/variable.scss';

.stam_paymentMainDiv {

    .stam_paymentSecondMainDiv {
        margin-inline: 6%;
        background-color: #fff;
    }

    @media (max-width: 1200px) {
        .stam_paymentSecondMainDiv {
            margin-inline: 1% !important;
        }
    }


    .stam_PaymentContainer {
        margin-inline: 4%;
        padding-top: 4%;
    }

    .stam_paymentBackbtnDiv {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        .stam_paymentBackbtn {
            width: 32px;
            height: 32px;
            color: $titleColor;
            cursor: pointer;
        }
    }

    .stam_paymentDetailMainDiv {
        display: flex;
        justify-content: space-around;
        font-family: $primaryFontFamily;
        color: $titleColor;
    }

    .stam_paymenttotalpricesummary {
        display: flex;
        justify-content: space-between;
    }

    .stam_paymenttotalpricesummary p {
        padding: 0;
        margin-bottom: 5px;
        font-size: $fontSize2;
    }

    .stam_paymenttotalpricesummary p span {
        font-weight: bold !important;
    }

    .stam_paymentUserName {
        font-weight: 600;
    }

    .stam_paymentDetailLeftSideContent {
        h2 {
            font-size: $fontSize6;
        }
    }

    .stam_order-summary {
        font-family: $primaryFontFamily;
        color: $titleColor;
    }

    .stam_summary-item {
        display: flex;
        justify-content: start;
        margin-bottom: 10px;
    }

    .stam_summary-item .stam_label {
        min-width: 180px;
        text-align: left;
        font-size: $fontSize2;
    }

    .stam_summary-item .stam_value {
        text-align: left;
        white-space: nowrap;
        font-size: $fontSize2;
        font-weight: bold !important;
    }

    .stam_paymentButtonDiv {
        text-align: center;

        .stam_payOnAccountBtn {
            margin-right: 20px;
            height: 40px;
            width: 180px;
            font-family: $primaryFontFamily !important;
            font-size: $fontSize3;
            color: $btn1hoverFontColor;
            background-color: $btn1ActivebgColor;
            border: 1px solid $btn1FontColor;
            border-radius: 0px !important;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;

            &:hover {
                color: $btn1hoverFontColor;
                background-color: $btn1ActivebgColor;
            }
        }
    }

    .stam_backtoTopBtn {
        font-family: $homePageFontFamily;
    }

    .stam_addorderRemarkbtn {
        color: $titleColor !important;
        font-size: $fontSize2 !important;
        text-transform: capitalize !important;
    }

    .stam_addorderRemark {
        color: $titleColor !important;
    }

    @media (max-width: 600px) {
        .stam_paymentDetailMainDiv {
            display: block;
        }

        .stam_paymentDetailLeftSideContent {
            h2 {
                font-size: $fontSize5 !important;
            }
        }

        .stam_paymenttotalpricesummary p {
            margin: 3px !important;
        }

        .stam_billingAddress {
            h3 {
                font-size: $fontSize4 !important;
            }

            p {
                font-size: $fontSize1 !important;
            }
        }

        .stam_paymentButtonDiv {
            .stam_payOnAccountBtn {
                width: 100%;
            }
        }

        .stam_shippingAddress {
            margin-top: 10px;
            margin-bottom: 40px !important;
            border-top: 1px solid #cccdce;

            h3 {
                font-size: $fontSize4 !important;
            }

            p {
                font-size: $fontSize1 !important;
                margin-bottom: 5px !important;
            }
        }

        .stam_paymentBackbtnDiv {
            .stam_paymentBackbtn {
                width: 22px !important;
                height: 22px !important;
            }
        }
    }

    .loader {
        border: 2px solid #f3f3f3;
        border-top: 2px solid #3498db;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        animation: spin 1s linear infinite;
        display: inline-block;
        margin-left: 8px;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .stam_billingAddress p {
        margin-bottom: 5px;
        font-size: $fontSize2;
    }

    .stam_shippingAddress p {
        margin-bottom: 0px;
    }
}