.proCat_addCardSkeltonMainBox{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;

.proCat_addCardSkelton{
    width: 345px !important;
    max-width: 345px !important;
    box-shadow: none !important;
    
    .proCat_addCardSkelton{
        background-color: #f6f6f6 !important;
    }
}
}