.smrMA_static_tremMain {

    .SmiCartListTitleN {
        color: #7d7f85;
        display: flex;
        align-items: center;
        font-size: 17px;
        font-weight: 600;
        padding: 0px 20px 0px 5px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        height: 50px;
        background-color: white;
        margin: 0px;
        position: fixed;
        top: 0px;
        width: 100%;
    }
}