@import "../../../scss/variable.scss";


.malakan_mainTrending1Div {
  .malakan_trending1TitleDiv {
    text-align: center;
    padding-block: 10px;
    margin-block: 2.5rem;

    @media (max-width: 1500px) {
      margin-block: 1rem;
    }

    @media (max-width: 1000px) {
      margin-bottom: 0rem;
    }

    .malakan_trending1Title {
      font-size: 3rem;
      color: #333333;
      font-family: $rown;
    }
  }

  .stam_trendingProduct-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    // padding: 0px 10px;  
    margin-bottom: 50px;

    @media (max-width: 1500px) {
      margin-bottom: 1.5rem;
    }

    .malakan_leftSideBestTR {
      width: 100%;
      position: relative;
      margin-bottom: 0.5rem;
      height: auto;

      @media (max-width: 1500px) {
        margin-block: 0.5rem;
      }

      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
      }

      .malakan_lookbookImageRightDT {
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-30%, -70%);
        font-size: $fontSize6;
        color: #fff;
        text-transform: capitalize;
        font-family: $homePageFontFamily;
        text-align: center;

        h2 {
          font-size: $fontSize7;
          font-family: $homePageFontFamily;
          left: 0.8px;
        }

        p {
          font-size: $fontSize3;
          font-family: $primaryFontFamily;
          left: 0.5px;
        }

        button {
          width: 160px;
          height: 35px;
          font-size: $fontSize2;
          font-family: $primaryFontFamily;
          background-color: #fff;
          color: $titleColor;
          letter-spacing: 0.5px;
          border: none;
          cursor: pointer;
        }
      }
    }

    .malakan_rightSideTR {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      justify-content: end;
      gap: 10px;

      .product-card {
        width: calc(50% - 10px);
        box-sizing: border-box;

        .stam_btimageDiv {
          padding: 10px;
          background-color: #f1f1f1;

          img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: contain;
            max-height: 450px;
          }
        }

        .product-info {
          padding: 5px;
          background-color: #fff;
          color: $titleColor !important;

          h3 {
            font-size: $fontSize1;
            color: $titleColor;
            font-family: $primaryFontFamily;
            margin: 0;
            letter-spacing: 0.5px;
          }

          p {
            margin: 5px 0;
            font-size: $fontSize2;
            color: $titleColor;
            font-family: $primaryFontFamily;
            font-weight: bold;
            letter-spacing: 0.5px;
          }

          span {
            font-size: $fontSize1;
            font-family: $primaryFontFamily;
            color: $titleColor;
            letter-spacing: 0.5px;
          }

          .malakan_btpipe {
            margin: 0px 3px;
          }
        }
      }
    }

    @media (max-width: 1200px) {
      flex-direction: column;
      align-items: center;

      .malakan_leftSideBestTR,
      .malakan_rightSideTR {
        width: 100%;
      }

      .malakan_lookbookImageRightDT {
        left: 50%;
        transform: translate(-50%, -70%);
      }
    }

    @media (max-width: 992px) {

      .malakan_leftSideBestTR,
      .malakan_rightSideTR {
        width: 100%;
      }

      .product-card {
        width: 100%;
        margin-bottom: 10px;
      }
    }

    @media (max-width: 768px) {
      .malakan_lookbookImageRightDT {
        left: 50%;
        transform: translate(-50%, -50%);

        h2 {
          font-size: $fontSize5 !important;
        }

        p {
          font-size: $fontSize1 !important;
        }

        button {
          font-size: $fontSize1 !important;
        }
      }

      .product-card {
        width: 100%;
        padding: 0;
        margin: 0 0 10px 0;

        .stam_btimageDiv {
          padding: 20px !important;
        }
      }
    }

    @media (max-width: 576px) {
      .stam_mainTrending1Div {
        .stam_trendingProduct-grid {
          padding: 0px 10px !important;
        }
      }

      .malakan_leftSideBestTR,
      .malakan_rightSideTR {
        width: 100%;
        margin-top: 10px;
        justify-content: center;
        padding: 0;
      }

      .product-card {
        width: 100%;
        margin: 0 0 10px 0;

        .stam_btimageDiv {
          padding: 10px !important;
        }

        .product-info {
          padding: 10px;

          h3 {
            font-size: $fontSize1 !important;
          }

          p {
            span {
              font-size: $fontSize2 !important;
            }
          }

          span {
            font-size: $fontSize0 !important;
            letter-spacing: 0.1px !important;
          }
        }
      }
    }
  }
}

.malakan_trendSet_Main {

  height: 540px;

  @media (max-width: 1650px) {
    height: 475px;
  }

  @media (max-width: 1200px) {
    height: 380px;
  }

  @media (max-width: 1000px) {
    height: 330px;
  }

  @media (max-width: 600px) {
    height: 340px;
  }

  .malakan_trend_title {
    font-size: 40px;
    text-align: center;
    margin-top: 70px;
  }

  .malakan_trend_main_sub {
    display: flex;
    flex-wrap: wrap;
    // padding-inline: 250px;
    padding-inline: 10px;
    // padding-inline: 100px;
  }

  .product-info {
    padding: 5px;
    background-color: #fff;
    text-align: center;

    h3 {
      font-size: $fontSize1;
      color: $titleColor;
      font-family: $primaryFontFamily;
      margin: 0;
      letter-spacing: 0.5px;
    }

    p {
      margin: 5px 0;
      font-size: $fontSize2;
      color: $titleColor;
      font-family: $primaryFontFamily;
      font-weight: bold;
      letter-spacing: 0.5px;
    }

    span {
      font-size: $fontSize1;
      font-family: $primaryFontFamily;
      color: $titleColor;
      letter-spacing: 0.5px;
    }

    .malakan_btpipe {
      margin: 0px 3px;
    }
  }

  @media (max-width: 400px) {
    .product-info {
      h3 {
        font-size: $fontSize1 !important;
      }

      p {
        span {
          font-size: $fontSize2 !important;
        }
      }

      span {
        font-size: $fontSize0 !important;
      }
    }
  }

  .mala_trend_slider {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }

  .malakan_trend__image_div {
    position: relative;
    width: 100%;
    // width: 25%;
    // width: 50%;
    // padding: 20px 20px 20px 0px;
  }

  .malakan_trend__image_div1 {
    position: relative;
    width: 50%;
    padding: 20px 0px 20px 20px;
  }

  .malakan_trend_bannerImg_div {
    margin-block: 20px;
    position: relative;
    width: 100%;
  }

  .malakan_trend_Div_name {
    color: black;
    position: absolute;
    font-size: 30px;
    bottom: 12%;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (max-width: 1200px) {
      font-size: 20px;
    }

    @media screen and (max-width: 800px) {
      font-size: 15px;
    }

    @media screen and (max-width: 650px) {
      bottom: 7%;
    }

    @media screen and (max-width: 360px) {
      bottom: 3%;
    }
  }

  .malakan_trendImg {
    width: 100%;
    object-fit: cover;
    height: 100%;
    cursor: pointer;
  }

  @media screen and (max-width: 1400px) {
    .malakan_trend_main_sub {
      padding-inline: 10px !important;
    }

    .malakan_trend_title {
      font-size: 20px !important;
      margin: 5px !important;
    }
  }

  @media screen and (max-width: 900px) {
    .malakan_trend_main_sub {
      padding-inline: 10px !important;
    }

    .malakan_trend__image_div {
      // padding: 10px 10px 10px 0px !important;
    }

    .malakan_trend__image_div1 {
      padding: 10px 0px 10px 10px !important;
    }
  }

  @media screen and (max-width: 600px) {
    .malakan_trend_bannerImg_div {
      margin: 0px !important;
      padding: 5px !important;
    }

    .malakan_trend_main_sub {
      padding-inline: 10px !important;
    }

    .malakan_trend_title {
      font-size: 22px !important;
      padding-block: 5px;
    }

    .malakan_trend_Div_name {
      font-size: 18px !important;
    }

    .malakan_trend__image_div {
      // width: 50% !important;
      width: 100% !important;
      // padding: 5px !important;
    }

    .malakan_trend__image_div1 {
      width: 100% !important;
      padding: 5px !important;
    }
  }
}

.malakan_trend_main_swiper {
  padding-bottom: 10px;
  height: auto;

  .swiper-button-next,
  .swiper-button-prev {
    color: #fff;
    background-color: rgba(163, 163, 163, 0.356);
    border-radius: 50%;
    padding: 22px;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: unset;
  }

  @media (max-width: 900px) {

    .swiper-button-prev,
    .swiper-button-next {
      background-color: #b7b7b7;
      color: #fff;
      padding: 10px;
      border-radius: 50%;
      z-index: 12;
      width: 37px !important;
      height: 37px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -30px !important;

      &:after {
        font-size: 16px;
      }
    }
  }

  .swiper-button-disabled {
    opacity: 0.5;
    cursor: pointer;
    pointer-events: auto;
    background-color: #ababab;
  }

  .swiper-pagination-bullet {
    background-color: #fff;
  }

  .swiper-pagination-bullet-active {
    background-color: #007bff;
  }
}