@import "../../scss/variable.scss";
// .accountTab_Account_stam{


    .stam-AccountMain {
        background-color: white;
        margin-inline: 6%;
    }
    
    .stamAccountTitle {
        font-size: 40px;
        text-align: center;
        color: #7d7f85;
        font-family: 'FreightDispProBook-Regular,Times New Roman,serif';
        font-weight: 500;
        padding-top: 25px;
    }
    
    .stam-AccountTabMain {
        margin-inline: 10%;
    }
    
    .stamOrderHistory {
    
        border: 1px solid #e1e1e1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .stamOrderHistoryBtn {
        height: 55px;
        width: 200px;
        background-color: #7d7f85;
        color: white;
        font-weight: 500;
        font-size: 15px;
        border: 0;
    }
    
    .stamSavedAddressMain {
        border: 1px solid #e1e1e1;
        margin-bottom: 20px;
    }
    
    
    .stamAccountSavedRemoveBtn {
        font-size: 13px;
        font-weight: 500;
        margin-top: 15px;
        color: #7d7f85;
        margin: 0px;
        cursor: pointer;
        position: relative;
        display: inline-block;
        height: 22px;
    }
    
    .stamAccountSavedRemoveBtn::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0%;
        height: 1px;
        background-color: black;
        transition: width 0.3s ease-out;
    }
    
    .stamAccountSavedRemoveBtn:hover::before {
        width: 100%;
        left: 0;
        right: auto;
        transition: width 0.3s ease-out;
    }
    
    .stamAcoountAddNewBtn {
        height: 55px;
        width: 220px;
        background-color: #7d7f85;
        color: white;
        font-size: 15px;
        font-weight: 500;
        border: 0;
        transition: all 0.4s ease;
        margin-top: 25px;
    }
    
    .stamAcoountAddNewBtn:hover {
        border: 1px solid #7d7f85;
        background-color: white;
        color: #7d7f85;
    }
    
    .stamAccountLogout {
        position: relative;
        left: 235px !important;
        top: 18px;
        font-size: 13px;
        color: #7d7f85;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.4s ease;
    }
    
    .stamAccountLogout:hover {
        border-bottom: 1px solid black;
    }
    
    .stamAccountTabWebView button.Mui-selected{
        color: #3b3c3d;
        /* text-decoration: underline; */
    }
    
    .stamAccountTabWebView span.MuiTabs-indicator{
        background-color: #3b3c3d;
    }
    
    .stamYourAccountPageTabs .MuiTab-textColorPrimary.Mui-selected{
        color: #000;
    }
    
    .salesPage > div{
        padding-left: 0;
        padding-right: 0;
    }
    .sticky_header_web_sm_stam {
        position: -webkit-sticky !important; /* For Safari */
        position: sticky !important;
        top: 135px !important;
        background-color: white;
        z-index: 11; /* Adjust z-index as needed */
        padding: 10px 0;
    }
    .sticky_header_web_sm_stam_isSticky {
        position: -webkit-sticky !important; /* For Safari */
        position: sticky !important;
        top: 0px !important;
        background-color: white;
        z-index: 11; /* Adjust z-index as needed */
        padding: 10px 0;
    }
    .stamYourAccountPageTabs{
        display: none;
    }
    // .iconsTabAcc .MuiTabs-flexContainer{
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     width: 100%;
    // }
    .iconsTabAcc{
        display: none !important;
    }
    @media screen and (max-width: 1441px) {
    
        .Smiling-AccountMain {
        margin-inline: 2%;
    
        }
    
        .stam-AccountTabMain {
        margin-inline: 5%;
    
        }
    
        .stamAccountLogout{
            position: relative;
            left: 130px;
        }
        .sticky_header_web_sm_stam {
            position: -webkit-sticky !important; /* For Safari */
            position: sticky !important;
            top: 100px !important;
            background-color: white;
            z-index: 10; /* Adjust z-index as needed */
            padding: 10px 0;
        }
        .iconsTabAcc{
            display: none !important;
        }
    }
    // @media screen and (min-width: 1050px) {
    //     .stamAccountTabMobileView{
    //         display: none;
    //     }
    //     .sticky_header_web_sm_stam {
    //         position: unset; /* For Safari */
    //         position: unset;
    //         top: 100px !important;
    //         background-color: white;
    //         z-index: 10; /* Adjust z-index as needed */
    //         padding: 10px 0;
    //     }
        
    // }
    
    // @media screen and (max-width: 1049px) {
    
    //     .stamAccountTabWebView{
    //         display: none;
    //     }
    
    //     .stamAccountLogoutMobile{
    //         position: relative;
    //         left: 18px;
    //         top: 10px;
    //         font-size: 13px;
    //         color: #7d7f85;
    //         font-weight: 500;
    //         cursor: pointer;
    //         transition: all 0.4s ease;
    //         border-bottom: 1xp solid #7d7f85!important;
    //     }
    //     .css-10d9dml-MuiTabs-indicator{
    //         position: relative!important;
    //     }
    //     .css-jg8ebh-MuiButtonBase-root-MuiTab-root{
    //         display: flex;
    //         align-items: start!important;
    //     }
    //     .css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
    //         display: flex;
    //         align-items: start!important;
    //     }
    //     .sticky_header_web_sm_stam {
    //         position: unset; /* For Safari */
    //         position: unset;
    //         top: 100px !important;
    //         background-color: white;
    //         z-index: 11; /* Adjust z-index as needed */
    //         padding: 10px 0;
    //     }
    // }
        
    @media screen and (max-width:1224px){
        .mobileEditProfileDiv{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .iconsTabAcc{
            display: none !important;
        }
    }
    
    @media screen and (max-width:1024px){
        .yourAccount .MuiButtonBase-root{
            padding: 0px !important;
            min-height: auto !important;
            align-items: flex-start;
        }
        .d_none_acc{
            display: none !important;
        }
        .stamYourAccountPageTabs{
            display: block;
        }
        .stam_main_head_none{
            display: none;
        }
        .mobileEditProfileDiv{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .iconsTabAcc{
            display: unset !important;
        }
        .iconsTabAcc .MuiTabs-flexContainer{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-top: 2%;
        }
    }
    
    @media(max-width: 768px){
        .stamYourAccountPageTabs div[aria-orientation="vertical"] > .MuiTab-textColorPrimary {
            padding: 8px 15px;
            min-height: unset;
            min-width: 100%;
            align-items: flex-start;
        }
    
        .youraccountpagesec{
            font-size: calc(1.375rem + 1.5vw) !important;
            padding-bottom: 10px;
        }
    
        .accountTabSection .MuiTabs-scrollButtons{
            display: -webkit-inline-box !important;
            /* width: 20px !important; */
        }
    
        .accountTabSection .Mui-disabled.MuiTabs-scrollButtons{
            display: none !important;
        }
    
       .accountTabSection .MuiTab-root.MuiTab-textColorPrimary{
        padding: 0 10px !important;
        min-width: max-content;
       }
    
       .accountSalesPage > div{
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-top: 50px !important;
       }
       .sticky_header_web_sm_stam {
        position: unset; /* For Safari */
        position: unset;
        top: 100px !important;
        background-color: white;
        z-index: 11; /* Adjust z-index as needed */
        padding: 10px 0;
    }
    .smilingEditProfilePopup{
        max-width: 450px;
    }
    }
    @media screen and (max-width:700px){
        .smilingEditProfilePopup{
            max-width: 450px;
        }
    }
    @media screen and (max-width:320px){
        .stam-AccountMain {
            background-color: white;
            margin-inline: 1% ;
        }
    
    }
    
    /* 1px solid #e1e1e1 */
    @media screen and (max-width:768px), (max-width:800px),(max-width:850px), (max-width:900px), (max-width:950px), (max-width:1000px){
        .acc_stam_tab_p_0{
            padding: 0px !important;
        }
    }
    
    .accordion_Account_Head{
        box-shadow: none !important;
        border: 1px solid #e8e8e8 !important;
        border-radius: 8px !important;
    }
    
    .p0_acc_mob{
        padding: 0px 15px !important;
    }
    
    @media screen and (max-width:320px), (max-width:360px){
        .p0_acc_mob{
            padding: 0px 3px !important;
        }   
        
    }
    .p2_newhead_stam_acc{
        padding: 2px !important;
    }
    .p2_newhead_stam_acc .MuiButtonBase-root{
        padding: 2px !important;
    }
    
    
    @media screen and (max-width:1024px){
        .HeadTitleAcc_none{
            display: none !important;
        }
        .acc_stam_tab_p_0{
            padding-top: 0px !important;
        }
    }

    .account_themewise_stam{
        background-color: $accountBgColor !important;
    }
    .account_btn_themewise_stam{
        color: $primaryfontcolor !important;
        background-color: $accountBgColor !important;
    }

    // }