@import "../../../../scss/variable.scss";

.srmm_sliderComponent_button {
    border: 2px solid black !important;
    width: 100% !important;
    height: 45px !important;
    border-radius: 10px !important;
    margin-top: 15px !important;
    text-transform: capitalize !important;
    color: #000 !important;
    font-size: 15.5px !important;
    font-family: $primaryFontFamily1 !important;
    margin-bottom: 1rem !important;
}

.srmm_fontFamily {
    font-family: $primaryFontFamily1 !important;
}