@import '../../scss/variable.scss';

.proCat_WlListCard {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* Ensures all cards are at least the same height */
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px !important;

    .cardContent {
        display: flex;
        flex-direction: column;
        height: 100%;
        
    }

    .proCat_WlListImage {
        width: 100%;
        // max-height: 400px;
        object-fit: contain;
        cursor: pointer;
        // height: 300px;
    }

    .proCat_WlListImage2 {
        width: 100%;
        max-height: 500px;
        object-fit: cover;
        cursor: pointer;
        // height: 400px;
    }

    .cardText {
        flex: 1;
        padding: 10px;
        max-height: 150px;
        height: 110px;
    }
}

.proCat_MainWlDiv {
    background-color: $backgroundColor;
    font-family: $primaryFontFamily;
}

.WlMainPageDiv {
    background-color: #fff;
    margin-inline: 6%;
}

@media(max-width:1200px) {
    .WlMainPageDiv {
        margin-inline: 1% !important;
    }
}

.proCat_WlMainPage {
    display: flex;
    gap: 30px;
    margin-bottom: -8%;
}

.WlBtnGroupMainDiv {
    text-align: center;
    padding-top: 40px;

    .proCat_Wl-title {
        color: $titleColor;
        font-size: $fontSize8;
    }

    .proCat_WlButton-group {
        display: flex;
        padding-inline: 15px;
        justify-content: space-between;
        align-items: center;
        border-radius: 0px;

        .proCat_ReomoveAllWLbtn {
            display: flex;
            align-items: center;
            width: 200px;
            font-size: $fontSize1;
            color: $titleColor !important;
            text-decoration-color: $titleColor !important;
        }

        .proCat_WlAddToCartBtn {
            font-family: $primaryFontFamily !important;
            background-color: $btn1hoverColor;
            color: $btn1hoverFontColor;
            font-size: $fontSize2;
            border: none;
            outline: none;
            height: 45px;
            border-radius: 0px;
            width: 200px;
            font-weight: 500;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #666;
            }


            &.proCat_cartActivebtn {
                background-color: $btn1ActivebgColor;
                color: $btn1hoverFontColor;
            }
        }
    }
}


.proCat_noWishlistData {
    text-align: center;
    height: 100%;
    margin-bottom: 155px;

    .proCat_title {
        color: $titleColor;
        font-size: $fontSize6;
    }

    .proCat_desc {
        color: $titleColor;
        font-size: $fontSize4;
    }

    .proCat_browseOurCollectionbtn {
        background-color: #7d7f85;
        border: none;
        color: #fff;
        font-size: 15px;
        font-weight: 500;
        height: 50px;
        outline: none;
        width: 220px;
    }
}

.proCat_WlListData {
    padding: 60px 14px 10px 15px;
    margin-bottom: -8%;

    .proCat_wlListGrid {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        opacity: 1;
        transition: opacity .5s ease;
    }

    .fade-out {
        opacity: 0;
    }

    // .fade-in {
    //     opacity: 1;
    // }


    // .proCat_wlListGrid {
    //     display: flex !important;
    //     justify-content: center !important;
    //     align-items: center !important;
    //     opacity: 1;
    //     transition: opacity 0.8s ease-in-out;
    //     transform: translateX(0);
    //     animation: slide-in 0.8s forwards ease-in-out;
    // }

    // .fade-out {
    //     animation: slide-out 0.8s forwards ease-in-out;
    // }

    // @keyframes slide-out {
    //     from {
    //         transform: translateX(0);
    //         opacity: 1;
    //     }

    //     to {
    //         transform: translateX(-500px);
    //         opacity: 0;
    //     }
    // }

    // @keyframes slide-in {
    //     from {
    //         transform: translateX(500px);
    //         opacity: 0;
    //     }

    //     to {
    //         transform: translateX(0);
    //         opacity: 1;
    //     }
    // }


    .proCat_wlToggleButtonDiv {
        display: flex;
        justify-content: end;
        padding-bottom: 20px;
    }
}

.proCat_WlListCard {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px !important;
    position: relative;
    border-radius: 0px !important;

}

.proCat_wishDT {
    font-size: $fontSize1;
    font-family: $primaryFontFamily;
}

.closeWlIconDiv {
    position: absolute;
    top: 0;
    right: 0;
    background: #c9c9c9;
    color: #fff;
}

.closeWlIcon {
    cursor: pointer;
}

.proCat_Wl-CartbtnDiv {
    text-align: center;
    margin-bottom: 10px;

    .proCat_Wl-Cartbtn {
        width: 150px;
        height: 30px;
        font-size: $fontSize2;
        color: $titleColor;
        font-weight: 500;
        border: none;
        background: none;
        text-transform: capitalize !important;
        cursor: pointer;

        &:hover {
            color: $btn1hoverFontColor;
            background-color: $btn1ActivebgColor;
        }
    }
}

.proCat_card-ContentData {
    text-align: center;
    color: $titleColor !important;
    font-size: $fontSize1 !important;
    font-family: $primaryFontFamily;
    padding-bottom: 6px;
}

.proCat_WlTitleline {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

@media (max-width: 1750px) {
    .WlBtnGroupMainDiv {
        .proCat_WlButton-group {
            .proCat_WlAddToCartBtn {
                width: 140px;
                font-size: $fontSize1;
            }
        }
    }

    .proCat_cardContent {
        padding: 0 !important;

        .cardText {
            padding: 2px;
        }

        .cardText p {
            font-size: $fontSize1 !important;
        }

        .cardText p span {
            font-size: $fontSize1 !important;
        }
    }
}

@media (max-width: 1350px) {
    .WlBtnGroupMainDiv {
        .proCat_WlButton-group {
            .proCat_WlAddToCartBtn {
                width: 140px;
                font-size: $fontSize1;
            }
        }
    }

    .proCat_cardContent {
        padding: 0 !important;

        .cardText {
            padding: 2px;
        }

        .cardText p {
            font-size: $fontSize0 !important;
        }

        .cardText p span {
            font-size: $fontSize0 !important;
        }
    }
}

@media (max-width: 1050px) {
    .WlBtnGroupMainDiv {
        .proCat_WlButton-group {
            .proCat_WlAddToCartBtn {
                width: 140px;
                font-size: $fontSize1;
            }
        }
    }

    .proCat_cardContent {
        padding: 0 !important;

        .cardText {
            padding: 2px;
        }

        .cardText p {
            font-size: $fontSize0 !important;
        }

        .cardText p span {
            font-size: $fontSize0 !important;
        }
    }
}


@media (max-width: 768px) {
    .proCat_WlListData {
        padding: 10px 10px 10px 10px;
        margin-bottom: -8%;
    }

    .proCat_card-ContentData .proCat_DesignNoTExt .proCat_Wl-Cartbtn {
        font-size: $fontSize2 !important;
    }
}

@media (max-width: 600px) {
    .proCat_WlListData {
        padding: 10px 10px 10px 10px;
        margin-bottom: -8%;
    }

    .WlBtnGroupMainDiv {
        .proCat_WlButton-group {
            .proCat_WlAddToCartBtn {
                width: 120px;
                font-size: $fontSize1;
            }
        }
    }

    .proCat_card-ContentData {
        font-size: $fontSize1 !important;
    }

    .proCat_DesignNoTExt {
        font-size: $fontSize1 !important;
    }

    .proCat_Wl-Cartbtn {
        font-size: $fontSize1 !important;
        text-align: center;
        width: 100% !important;
    }

    .proCat_cardContent {
        padding: 0 !important;

        .proCat_currencyFont {
            // margin-left: 40px;
        }

        .cardText {
            padding: 2px;
        }

        .cardText p {
            font-size: $fontSize0 !important;
        }

        .cardText p span {
            font-size: $fontSize0 !important;
        }
    }
}

@media (max-width: 320px) {
    .proCat_WlListData {
        padding: 6px;
        margin-bottom: -8%;
    }

    .WlBtnGroupMainDiv {
        .proCat_WlButton-group {
            .proCat_WlAddToCartBtn {
                width: 100px !important;
                font-size: $fontSize0 !important;
                height: 34px !important;
            }
        }
    }

    .proCat_card-ContentData {
        font-size: $fontSize1 !important;
    }

    .proCat_DesignNoTExt {
        font-size: $fontSize1 !important;
    }

    .proCat_Wl-Cartbtn {
        font-size: $fontSize1 !important;
        text-align: center;
        width: 100% !important;
    }

    .proCat_cardContent {
        padding: 0 !important;

        .proCat_currencyFont {
            // margin-left: 40px;
        }

        .cardText {
            padding: 2px;
        }

        .cardText p {
            font-size: $fontSize0 !important;
        }

        .cardText p span {
            font-size: $fontSize0 !important;
        }
    }
}




// skelton scss

.proCat_addwishlistSkeltonMainBox {
    padding: 0px 60px;

    .proCat_addwishlistSkelton {
        height: 450px;
        box-shadow: none !important;

        .proCat_addwishlistSkelton {
            background-color: #f6f6f6 !important;
        }
    }
}

@media(max-width:650px) {
    .proCat_addwishlistSkeltonMainBox {
        padding: 0px 10px;
    }

    .proCat_addwishlistSkelton {
        height: 250px !important;
    }

    .proCat_WlButton-group {
        padding-top: 30px;
    }

    // .proCat_toggleWishButtonDiv {
    //     height: 30px !important;
    // }

    .proCat_WlListData {
        .proCat_wlToggleButtonDiv {
            padding-top: 30px;
        }
    }
}