
.mobile-smr{
    width: 420px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: start !important;
    position: relative;
    gap: 10px;
    .m-txt-msg{
        font-size: 14px;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 4px;
    }
       @media screen and (max-width:700px){
        width: 80% !important;
    }
    .county_Dropdown_list{
        width: 100%;
        position: absolute;
        border-radius: 4px;
        background-color: white;
        height: auto;
        top: 70px;
        z-index: 999999;
        z-index: 1500 !important;
        overflow: visible !important;
      

    }
    .MOBILE_CODE{
        margin-top: 10px;
        flex: 0.2;
     
        input{
            width: 100%;
            border-radius: 4px;
            padding: 15px 8px;
            border: 1px solid rgb(196,196,196);
            text-align: center;
            &:hover{
            border: 1px solid black;
            }
        }
    }
    .labgrowRegister{
        margin: unset !important;
        flex: 1;
        margin-block: 10px !important;
    }
    // @media screen and (max-width:510px){
    //     width: 80% !important;
    // }
    @media screen and (max-width: 510px) {
        width: 93% !important;
    }
}